<div class="video-boost-component">
    <img class="bg-image"
         src="assets/img/boost-screen.png"
         srcset="assets/img/boost-screen@2x.png 2x, assets/img/boost-screen@3x.png 3x"
         alt="">
    <div class="video-wrapper">
        <video class="video" width="100%" autoplay loop>
            <source src="assets/video/boost.mp4" type="video/mp4">
            <source src="assets/video/boost.ogv" type="video/ogg">
        </video>
    </div>

    <div class="info">
        <h2 class="info__title">Boost your sales with the best eCommerce web chat</h2>
        <p class="info__text">
            Everyday, millions of people buy products via web chat <br />
            Nice Chat making your business truly online
        </p>
        <a href="#get-started__email-input" class="info__boost-my-sales-btn">Boost my sales</a>
    </div>
</div>