.video-boost-component {
  position: relative;
  height: auto;
  max-height: 800px;

  .bg-image {
    width: 100%;
    height: auto;
    max-height: 800px;
    object-fit: cover;
    z-index: -1;
  }

  .video-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    max-height: 800px;
    overflow: hidden;

    .video {
      display: block;
      min-width: 100%;
      height: 100%;
      max-height: 800px;
      object-fit: cover;
    }
  }

  .info {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 25px;
    z-index: 1;

    &__title {
      margin-bottom: 3%;
      text-align: center;
      font-size: 48px;
      font-weight: 300;
      color: $palette-white;
    }

    &__text {
      margin-bottom: 5%;
      font-size: 30px;
      font-weight: 300;
      color: $palette-white;
      text-align: center;
    }

    &__boost-my-sales-btn {
      @include button;

      display: flex;
      justify-content: center;
      align-items: center;
      width: 300px;
      height: 50px;
      border: 1px solid $palette-white;
      font-size: 18px;
      color: $palette-white;
      background-color: rgba(255, 255, 255, .2);

      &:hover,
      &:focus {
        background-color: rgba(255, 255, 255, .5);
      }
    }
  }
}

//Tablet layout
@media all and (max-width: 950px) {
  .video-boost-component {

    .info {
      padding: 0 50px;

      &__text {
        font-size: 28px;
      }

      &__boost-my-sales-btn {
        width: 250px;
        height: 45px;
        font-size: 16px;
      }
    }
  }
}

@media all and (max-width: 768px) {
  .video-boost-component {
    display: flex;
    align-items: center;

    .bg-image {
      width: 100%;
      height: auto;
    }

    .video-wrapper {
      display: none;

      .video {
        display: none;
      }
    }

    .info {

      &__title {
        font-size: 24px;
        font-weight: normal;
      }

      &__text {
        font-size: 16px;
        font-weight: normal;
      }

      &__boost-my-sales-btn {
        width: 160px;
        height: 32px;
        font-size: 12px;
      }
    }
  }
}

//Phone layout
@media all and (max-width: 599px) {
  .video-boost-component {
    min-height: 210px;

    .bg-image {
      width: 100%;
      height: auto;
      min-height: 210px;
    }

    .info {
      justify-content: center;
      padding: 0 10px;

      &__title {
        margin-bottom: 12px;
        font-size: 16px;
        font-weight: normal;
      }

      &__text {
        margin-bottom: 25px;
        font-size: 12px;
        font-weight: normal;
      }

      &__boost-my-sales-btn {
        width: 120px;
        height: 27px;
        margin: 0;
        font-size: 12px;
      }
    }
  }
}