<footer class="footer-component">
    <div class="row">
        <nav class="navigation">
            <a href="#" class="navigation__link">About Us</a>

            <a href="#" class="navigation__link">Privacy Policy</a>

            <a href="#" class="navigation__link">Terms of Service</a>
        </nav>

        <p class="copyright">Copyright 2016 nice.chat</p>
    </div>
</footer>