.footer-component {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 0 20px;
  background-color: $palette-black;

  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1340px;
  }

  .navigation {
    margin-left: auto;
    padding-left: 157px; //compensating copyright width so menu to be centered

    &__link {
      padding: 10px;
      vertical-align: middle;
      font-size: 14px;
      color: $palette-light-gray;

      &:hover {
        color: $palette-white;
      }

      &:not(:last-of-type) {
        margin-right: 2px;
      }
    }
  }

  .copyright {
    margin-bottom: 0;
    margin-left: auto;
    vertical-align: middle;
    font-size: 14px;
    color: $palette-light-gray;
  }
}

//Tablet layout
@media all and (max-width: 768px) {
  .footer-component {
    height: 35px;

    .row {
      max-width: 718px;
    }

    .navigation {
      padding-left: 115px; //compensating copyright width so menu to be centered

      &__link {
        font-size: 10px;
      }
    }

    .copyright {
      padding: 10px 0;
      font-size: 10px;
    }
  }
}

//Phone layout
@media all and (max-width: 599px) {
  .footer-component {
    height: 60px;

    .row {
      height: auto;
      flex-direction: column;

      &::before {
        display: none;
      }

      .navigation {
        display: flex;
        height: auto;
        margin: 0 0 5px 0;
        padding: 0;

        &__link {
          display: flex;
          justify-content: center;
          padding: 0 10px;
        }
      }
    }

    .copyright {
      margin: 0;
      padding: 0;
    }
  }
}

@media all and (max-width: 374px) {
  .footer-component {
    height: auto;
    padding: 5px 0;

    .row {

      .navigation {
        flex-direction: column;
        margin-bottom: 10px;

        &__link {
          padding: 5px 10px;
        }
      }
    }

    .copyright {
      padding: 5px;
    }
  }
}