<div class="infographic-traditional-way-component">
    <div class="row">
        <div class="col">
            <h3 class="header">Traditional way from search to purchase a goods</h3>

            <p class="text">This way has many variants and the customers does not always comes to buying</p>
        </div>

        <div class="col">
            <img src="assets/img/figure-traditional-way.svg" alt="">
        </div>
    </div>
</div>