.infographic-traditional-way-component {
  display: flex;
  height: 400px;
  padding: 0 25px;
  background-color: $palette-infographic-yellow;

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    max-width: 1240px;
  }

  .col {
    width: calc(50% - 20px);
    display: flex;
    flex-direction: column;

    .header {
      max-width: 500px;
      margin-bottom: 25px;
      font-size: 36px;
      font-weight: 300;
      color: $palette-black;
    }

    .text {
      max-width: 500px;
      line-height: 1.5;
      font-size: 20px;
      font-weight: 300;
      color: $palette-black;
    }

    img {
      width: 100%;
      max-width: 682px;
      max-height: 308px;
    }
  }
}

//Tablet layout
@media all and (max-width: 768px) {
  .infographic-traditional-way-component {
    height: 215px;

    .row {
      max-width: 668px;
    }

    .col {

      .header {
        font-size: 20px;
      }

      .text {
        font-size: 12px;
      }
    }
  }
}

//Phone layout
@media all and (max-width: 599px) {
  .infographic-traditional-way-component {
    height: auto;
    padding: 0 25px;

    .row {
      flex-direction: column;
      padding: 20px 0;
    }

    .col {
      align-items: center;
      width: 100%;

      .header {
        max-width: 405px;
      }

      .text {
        max-width: 405px;
        margin-bottom: 25px;
      }

      img {
        width: 100%;
        max-width: 405px;
      }
    }
  }
}
