<div class="infographic-communicate-component">
    <div class="row">
        <div class="col">
            <img src="assets/img/figure-communicate.svg" alt="">
        </div>

        <div class="col">
            <h3 class="header">Communicate with customers and sell literally in chat</h3>

            <p class="text">With Nice Chat you lead the customer to purchase goods by a single way</p>
        </div>
    </div>
</div>