.infographic-communicate-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 400px;
  padding: 0 25px;
  background-color: $palette-infographic-green;

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    max-width: 1240px;
  }

  .col {
    width: calc(50% - 20px);
    display: flex;
    flex-direction: column;

    &:last-child {
      align-items: flex-end;
      margin-left: auto;
    }

    .header {
      max-width: 500px;
      margin-bottom: 25px;
      font-size: 36px;
      font-weight: 300;
      color: $palette-black;
    }

    .text {
      max-width: 500px;
      line-height: 1.5;
      font-size: 20px;
      font-weight: 300;
      color: $palette-black;
    }

    svg {
      width: 100%;
      max-width: 667px;
      max-height: 254px;
    }
  }
}

//Tablet layout
@media all and (max-width: 768px) {
  .infographic-communicate-component {
    height: 215px;

    .row {
      max-width: 668px;
    }

    .col {

      .header {
        font-size: 20px;
      }

      .text {
        font-size: 12px;
      }
    }
  }
}

//Phone layout
@media all and (max-width: 599px) {
  .infographic-communicate-component {
    height: auto;
    padding: 0 25px;

    .row {
      flex-direction: column;
      max-width: 668px;
      padding: 20px 0;
    }

    .col {
      align-items: center;
      width: 100%;

      &:first-child {
        order: 1;
      }

      &:last-child {
        align-items: center;
      }

      .header {
        max-width: 440px;
      }

      .text {
        max-width: 440px;
        margin-bottom: 25px;
      }

      img {
        width: 100%;
        max-width: 405px;
      }
    }
  }
}