.header-component {
  position: relative;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 105px;
  padding: 0 20px;
  background-color: $palette-white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 4px 8px 0 rgba(0, 0, 0, 0.15);
  z-index: 1;

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1340px;
  }

  .logo {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;

    svg {
      width: 77px;
      height: 65px;
    }
  }

  .navigation {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    padding: 0 17px;

    &__link {
      display: flex;
      align-items: center;
      padding: 15px 15px;
      font-size: 16px;
      color: $palette-black;

      &:not(:last-of-type) {
        margin-right: 2px;
      }

      &:hover {
        color: lighten($palette-black, 20%);
      }

      &--current,
      &--current:hover{
        color: $palette-blue;
        cursor: default;
      }
    }
  }

  .sign-block {
    display: flex;
    flex-grow: 2;
    justify-content: center;

    &__form {
      display: flex;
      flex-grow: 1;
      max-width: 330px;
    }

    &__email-input {
      flex-grow: 1;
      height: 35px;
      margin: 0;
      border-right: none;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      font-size: 14px;

      &::placeholder {
        font-size: 14px;
      }
    }

    &__get-started-btn {
      @include button($background: $palette-blue);

      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      width: 115px;
      height: 35px;
      margin-right: 10px;
      margin-bottom: 0;
      padding: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      font-size: 14px;
    }

    &__sign-in-btn {
      @include button($background: transparent, $background-hover: $palette-blue);

      display: flex;
      justify-content: center;
      align-items: center;
      width: 115px;
      height: 35px;
      margin-bottom: 0;
      padding: 0;
      border: 1px solid $palette-blue;
      font-size: 14px;
      color: $palette-blue;
    }
  }

  .dropdown-btn {
    display: none;
  }

  .dropdown-menu {
    display: none;
  }
}

//Small desktop screen layout
@media all and (max-width: 950px) {
  .header-component {
    height: 70px;
    padding: 0 25px;

    .logo {

      svg {
        width: 53px;
        height: 45px;
      }
    }

    .navigation {

      &__link {
        font-size: 13px;
      }
    }

    .sign-block {

      &__form {
        display: none;
      }

      &__sign-in-btn {
        width: 100px;
        font-size: 12px;
      }
    }
  }
}

//Tablet layout
@media all and (max-width: 768px) {
  .header-component {

    .row {
      max-width: 618px;
    }
  }
}

//Phone layout
@media all and (max-width: 599px) {
  .header-component {
    flex-direction: column;
    justify-content: center;
    height: auto;
    min-height: 55px;
    padding: 15px 25px;


    .row {

      &::before,
      &::after {
        display: none;
      }

      .logo {
        flex-grow: 0;
        width: 41px;
        height: 35px;
      }

      & > .navigation,
      & > .sign-block {
        display: none;
      }
    }

    .dropdown-btn {
      display: flex;
    }

    .dropdown-menu {

      &.expanded {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;

        .navigation {
          flex-direction: column;
          align-items: center;
          margin: 20px 0;
          padding: 0;

          &__link {
            position: relative;
            justify-content: center;
            width: 100%;
            max-width: 400px;
            margin-bottom: 10px;
            font-size: 14px;

            &::after {
              position: absolute;
              bottom: 0;
              left: 0;
              content: '';
              display: block;
              width: 100%;
              height: 1px;
              background-color: lighten($palette-light-gray, 35%);
            }

            &--current {

              &::after {
                background-color: $palette-blue;
              }
            }
          }
        }

        .sign-block {
          justify-content: center;

          &__sign-in-btn {
            width: 100%;
            max-width: 400px;
            padding: 0;
            font-size: 14px;
            outline: none;
          }
        }
      }
    }
  }
}