<div class="infographic-boost-conversion-component">
    <div class="row">
        <div class="col">
            <h3 class="header">Boost conversion up to 5 times</h3>

            <p class="text">According to statistics, only 1 out of 100 visitors to make a purchase. With Nice Chat you can increase the conversion of up to five times</p>
        </div>

        <div class="col">
            <?xml version="1.0" encoding="UTF-8" standalone="no"?>
            <svg viewBox="0 0 585 357" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: sketchtool 40.2 (33826) - http://www.bohemiancoding.com/sketch -->
                <title>1C7DE250-49A7-4918-8067-23D38A7D61F0</title>
                <desc>Created with sketchtool.</desc>
                <defs></defs>
                <g id="Landing-v2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Landing" transform="translate(-755.000000, -2441.000000)">
                        <g id="Group-18" transform="translate(755.000000, 2437.000000)">
                            <g id="Group-12">
                                <g id="Grid" transform="translate(26.000000, 29.000000)" stroke-width="0.5" stroke-linecap="square">
                                    <path d="M1.00062617,305.290383 L13.8264815,297.489845" id="Line" stroke="#CCCCCC"></path>
                                    <path d="M1.00062617,256.20914 L13.8264815,248.408602" id="Line-Copy-15" stroke="#CCCCCC"></path>
                                    <path d="M1.00062617,206.6273 L13.8264815,198.826762" id="Line-Copy-16" stroke="#CCCCCC"></path>
                                    <path d="M1.00062617,157.546058 L13.8264815,149.74552" id="Line-Copy-17" stroke="#CCCCCC"></path>
                                    <path d="M1.00062617,107.964218 L13.8264815,100.16368" id="Line-Copy-18" stroke="#CCCCCC"></path>
                                    <path d="M1.00062617,58.8829753 L13.8264815,51.0824373" id="Line-Copy-19" stroke="#CCCCCC"></path>
                                    <path d="M1.00062617,9.30113536 L13.8264815,1.50059737" id="Line-Copy-20" stroke="#CCCCCC"></path>
                                    <path d="M1.00062617,9 L1.00062617,305" id="Line" stroke="#333333"></path>
                                    <path d="M557.999374,1.50059737 L557.999374,297.240234" id="Line-Copy-14" stroke="#CCCCCC"></path>
                                    <path d="M14.0087664,2.00119474 L14.0087664,297.740831" id="Line-Copy-6" stroke="#CCCCCC"></path>
                                    <path d="M1.00062617,305.499403 L544.49092,305.499403" id="Line" stroke="#333333"></path>
                                    <path d="M14.5090795,297.489845 L557.999374,297.489845" id="Line-Copy-7" stroke="#CCCCCC"></path>
                                    <path d="M14.5090795,248.408602 L557.999374,248.408602" id="Line-Copy-8" stroke="#CCCCCC"></path>
                                    <path d="M14.5090795,198.826762 L557.999374,198.826762" id="Line-Copy-9" stroke="#CCCCCC"></path>
                                    <path d="M14.5090795,149.74552 L557.999374,149.74552" id="Line-Copy-10" stroke="#CCCCCC"></path>
                                    <path d="M14.5090795,100.16368 L557.999374,100.16368" id="Line-Copy-11" stroke="#CCCCCC"></path>
                                    <path d="M14.5090795,51.0824373 L557.999374,51.0824373" id="Line-Copy-12" stroke="#CCCCCC"></path>
                                    <path d="M14.0087664,1.50059737 L557.499061,1.50059737" id="Line-Copy-13" stroke="#CCCCCC"></path>
                                    <path d="M544.991234,305.499403 L557.817089,297.698865" id="Line" stroke="#CCCCCC"></path>
                                </g>
                                <g id="Group-11" transform="translate(106.000000, 277.000000)">
                                    <rect id="Rectangle-10" fill="#ACACAC" x="0" y="7.50896057" width="180.695679" height="49.4910394"></rect>
                                    <polygon id="Rectangle-10-Copy-2" fill="#888888" points="180.733559 7.49629899 193.286397 0.0704148511 193.248518 49.529914 180.695679 56.9557981"></polygon>
                                    <polygon id="Rectangle-10-Copy" fill="#C6C6C6" points="12.6252274 0.0776781987 193.320907 0.0776781987 180.695679 7.50896057 0 7.50896057"></polygon>
                                </g>
                                <g id="Group-11-Copy" transform="translate(297.000000, 79.000000)">
                                    <rect id="Rectangle-10" fill="#FF8725" x="1" y="8" width="180" height="247"></rect>
                                    <polygon id="Rectangle-10-Copy-3" fill="#CC6C1E" points="181 8.37640183 193.524622 0.980918959 193.524622 247.623606 181 255.019089"></polygon>
                                    <polygon id="Rectangle-10-Copy" fill="#FF9F28" points="13.5877484 0.979797363 193.538086 0.979797363 181.007081 8.36473909 0.987108641 8.01375668"></polygon>
                                </g>
                                <g id="Group-13" transform="translate(0.000000, 78.000000)" font-size="14" font-family="OpenSans, Open Sans" fill="#333333" font-weight="normal">
                                    <text id="5x">
                                        <tspan x="0.66015625" y="15">5x</tspan>
                                    </text>
                                    <text id="1x">
                                        <tspan x="0.66015625" y="212">1x</tspan>
                                    </text>
                                    <text id="2x">
                                        <tspan x="0.66015625" y="163">2x</tspan>
                                    </text>
                                    <text id="3x">
                                        <tspan x="0.66015625" y="114">3x</tspan>
                                    </text>
                                    <text id="4x">
                                        <tspan x="0.66015625" y="64">4x</tspan>
                                    </text>
                                    <text id="Without-Chat">
                                        <tspan x="160.181641" y="281">Without Chat</tspan>
                                    </text>
                                    <text id="With-Chat">
                                        <tspan x="363.172852" y="282">With Chat</tspan>
                                    </text>
                                </g>
                                <text id="Сonversion-of-your-b" font-family="OpenSans-Bold, Open Sans" font-size="14" font-weight="bold" fill="#333333">
                                    <tspan x="207" y="15">Сonversion of your business</tspan>
                                </text>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
        </div>
    </div>
</div>