<div class="infographic-chat-shopping-component">
    <div class="row">
        <div class="col">
            <?xml version="1.0" encoding="UTF-8" standalone="no"?>
            <svg viewBox="0 0 583 351" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: sketchtool 40.2 (33826) - http://www.bohemiancoding.com/sketch -->
                <title>A589699E-910B-41FC-AB15-59074F8D58B9</title>
                <desc>Created with sketchtool.</desc>
                <defs>
                    <linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="linearGradient-1">
                        <stop stop-color="#DAF0FF" stop-opacity="0.202162591" offset="0%"></stop>
                        <stop stop-color="#4A90E2" stop-opacity="0.150956748" offset="100%"></stop>
                    </linearGradient>
                </defs>
                <g id="Landing-v2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Landing" transform="translate(-93.000000, -2855.000000)">
                        <g id="Group-19" transform="translate(92.000000, 2851.000000)">
                            <g id="Group-15">
                                <polygon id="Rectangle-14" fill="url(#linearGradient-1)" points="40 298.810913 99.688194 278.881232 160.154437 237.069283 220.310437 210.157209 281.157697 194.42792 340.987458 168.604118 402.16435 160.93386 462.301445 132.024601 524 81.1388794 524 327 40 327"></polygon>
                                <g id="Grid" transform="translate(38.000000, 29.000000)" stroke-width="0.5" stroke-linecap="square">
                                    <path d="M1.00062617,2 L1.00062617,298" id="Line" stroke="#333333"></path>
                                    <path d="M544.999374,1.50059737 L544.999374,297.240234" id="Line-Copy-14" stroke="#CCCCCC"></path>
                                    <path d="M61,2.00119474 L61,297.740831" id="Line-Copy-21" stroke="#CCCCCC"></path>
                                    <path d="M122,2.00119474 L122,297.740831" id="Line-Copy-22" stroke="#CCCCCC"></path>
                                    <path d="M182,2.00119474 L182,297.740831" id="Line-Copy-23" stroke="#CCCCCC"></path>
                                    <path d="M243,2.00119474 L243,297.740831" id="Line-Copy-24" stroke="#CCCCCC"></path>
                                    <path d="M303,2.00119474 L303,297.740831" id="Line-Copy-25" stroke="#CCCCCC"></path>
                                    <path d="M364,2.00119474 L364,297.740831" id="Line-Copy-26" stroke="#CCCCCC"></path>
                                    <path d="M424,2.00119474 L424,297.740831" id="Line-Copy-27" stroke="#CCCCCC"></path>
                                    <path d="M485,2.00119474 L485,297.740831" id="Line-Copy-28" stroke="#CCCCCC"></path>
                                    <path d="M1.00062617,298.499403 L545,298.499403" id="Line" stroke="#333333"></path>
                                    <path d="M1.50907952,248.408602 L544.999374,248.408602" id="Line-Copy-8" stroke="#CCCCCC"></path>
                                    <path d="M1.50907952,198.826762 L544.999374,198.826762" id="Line-Copy-9" stroke="#CCCCCC"></path>
                                    <path d="M1.50907952,149.74552 L544.999374,149.74552" id="Line-Copy-10" stroke="#CCCCCC"></path>
                                    <path d="M1.50907952,100.16368 L544.999374,100.16368" id="Line-Copy-11" stroke="#CCCCCC"></path>
                                    <path d="M1.50907952,51.0824373 L544.999374,51.0824373" id="Line-Copy-12" stroke="#CCCCCC"></path>
                                    <path d="M1.00876644,1.50059737 L544.499061,1.50059737" id="Line-Copy-13" stroke="#CCCCCC"></path>
                                </g>
                                <text id="2010" font-family="OpenSans, Open Sans" font-size="14" font-weight="normal" fill="#333333">
                                    <tspan x="82" y="354">2010</tspan>
                                </text>
                                <text id="1%" font-family="OpenSans, Open Sans" font-size="14" font-weight="normal" fill="#333333">
                                    <tspan x="8.46972656" y="283">1%</tspan>
                                </text>
                                <text id="5%" font-family="OpenSans, Open Sans" font-size="14" font-weight="normal" fill="#333333">
                                    <tspan x="8.46972656" y="233">5%</tspan>
                                </text>
                                <text id="10%" font-family="OpenSans, Open Sans" font-size="14" font-weight="normal" fill="#333333">
                                    <tspan x="0.46484375" y="184">10%</tspan>
                                </text>
                                <text id="15%" font-family="OpenSans, Open Sans" font-size="14" font-weight="normal" fill="#333333">
                                    <tspan x="0.46484375" y="134">15%</tspan>
                                </text>
                                <text id="20%" font-family="OpenSans, Open Sans" font-size="14" font-weight="normal" fill="#333333">
                                    <tspan x="0.46484375" y="85">20%</tspan>
                                </text>
                                <text id="2011" font-family="OpenSans, Open Sans" font-size="14" font-weight="normal" fill="#333333">
                                    <tspan x="143" y="354">2011</tspan>
                                </text>
                                <text id="2012" font-family="OpenSans, Open Sans" font-size="14" font-weight="normal" fill="#333333">
                                    <tspan x="203" y="354">2012</tspan>
                                </text>
                                <text id="2013" font-family="OpenSans, Open Sans" font-size="14" font-weight="normal" fill="#333333">
                                    <tspan x="264" y="354">2013</tspan>
                                </text>
                                <text id="2014" font-family="OpenSans, Open Sans" font-size="14" font-weight="normal" fill="#333333">
                                    <tspan x="324" y="354">2014</tspan>
                                </text>
                                <text id="2015" font-family="OpenSans, Open Sans" font-size="14" font-weight="normal" fill="#333333">
                                    <tspan x="385" y="354">2015</tspan>
                                </text>
                                <text id="2016" font-family="OpenSans, Open Sans" font-size="14" font-weight="normal" fill="#333333">
                                    <tspan x="445" y="354">2016</tspan>
                                </text>
                                <text id="2017" font-family="OpenSans, Open Sans" font-size="14" font-weight="normal" fill="#333333">
                                    <tspan x="506" y="354">2017</tspan>
                                </text>
                                <polyline id="Path-3" stroke="#3288ED" stroke-width="3" points="39.594677 297.576319 99.5792127 277.538605 160.458564 235.161834 220.656864 208.407034 281.359743 193.108482 341.498421 167.076874 402.323856 160.140853 462.548655 130.611424 523.335446 79.9769269"></polyline>
                                <circle id="Oval-3" stroke="#4990E2" stroke-width="2" fill="#FFFFFF" cx="99" cy="277" r="4"></circle>
                                <circle id="Oval-3-Copy" stroke="#4990E2" stroke-width="2" fill="#FFFFFF" cx="160" cy="236" r="4"></circle>
                                <circle id="Oval-3-Copy-2" stroke="#4990E2" stroke-width="2" fill="#FFFFFF" cx="220" cy="209" r="4"></circle>
                                <circle id="Oval-3-Copy-3" stroke="#4990E2" stroke-width="2" fill="#FFFFFF" cx="281" cy="193" r="4"></circle>
                                <circle id="Oval-3-Copy-4" stroke="#4990E2" stroke-width="2" fill="#FFFFFF" cx="341" cy="168" r="4"></circle>
                                <circle id="Oval-3-Copy-5" stroke="#4990E2" stroke-width="2" fill="#FFFFFF" cx="402" cy="160" r="4"></circle>
                                <circle id="Oval-3-Copy-6" stroke="#4990E2" stroke-width="2" fill="#FFFFFF" cx="462" cy="131" r="4"></circle>
                                <text id="Proportion-of-purcha" font-family="OpenSans-Bold, Open Sans" font-size="14" font-weight="bold" fill="#333333">
                                    <tspan x="197" y="15">Proportion of purchases via chat</tspan>
                                </text>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
        </div>

        <div class="col">
            <h3 class="header">Chat shopping is popular</h3>

            <p class="text">More and more people prefer to shop via chat, this trend will grow. Be in trend</p>
        </div>
    </div>
</div>