.infographic-chat-shopping-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding: 25px 25px 50px 25px;
  background-color: $palette-white;

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    max-width: 1240px;
  }

  .col {
    width: calc(50% - 25px);
    display: flex;
    flex-direction: column;

    &:last-child {
      align-items: flex-end;
      margin-left: auto;
    }

    .header {
      width: 100%;
      max-width: 500px;
      margin-bottom: 25px;
      font-size: 36px;
      font-weight: 300;
      color: $palette-black;
    }

    .text {
      max-width: 500px;
      line-height: 1.5;
      font-size: 20px;
      font-weight: 300;
      color: $palette-black;
    }

    svg {
      width: 100%;
      max-width: 583px;
      max-height: 351px;
    }
  }
}

//Tablet layout
@media all and (max-width: 768px) {
  .infographic-chat-shopping-component {
    height: auto;

    .row {
      max-width: 668px;
    }

    .col {

      .header {
        margin-bottom: 10px;
        font-size: 20px;
      }

      .text {
        font-size: 12px;
      }

      svg {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}

//Phone layout
@media all and (max-width: 599px) {
  .infographic-chat-shopping-component {
    height: auto;
    padding: 25px;

    .row {
      flex-direction: column;
    }

    .col {
      align-items: center;
      width: 100%;

      &:first-child {
        order: 1;
      }

      &:last-child {
        align-items: center;
      }

      .header {
        width: 100%;
        max-width: 400px;
      }

      .text {
        width: 100%;
        max-width: 400px;
      }

      svg {
        max-width: 400px;
      }
    }
  }
}