<div class="infographic-cms-integration-component">
    <h3 class="header">Integration with any ecommerce CMS</h3>

    <p class="text">Nice Chat can work with any CMS, our specialists will take care of it</p>

    <div class="row">
        <div class="cms">
            <div class="cms__logo">
                <?xml version="1.0" encoding="UTF-8" standalone="no"?>
                <svg width="50px" height="59px" viewBox="0 0 50 59" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: sketchtool 40.2 (33826) - http://www.bohemiancoding.com/sketch -->
                    <title>B601FAEA-83EF-405B-B497-15926F2F6C85</title>
                    <desc>Created with sketchtool.</desc>
                    <defs></defs>
                    <g id="Landing-v2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="Landing" transform="translate(-412.000000, -2252.000000)" fill="#EC6737">
                            <g id="magento" transform="translate(412.000000, 2252.000000)">
                                <path d="M28.2914063,17.6552145 L28.2914063,51.1843498 L24.9841797,53.1995017 L21.6744141,51.1736403 L21.6744141,17.6811122 L13.1044922,22.9416535 L13.1044922,51.6150693 L24.9841797,58.8619439 L36.9644531,51.5634686 L36.9644531,22.9233498 L28.2914063,17.6552145 L28.2914063,17.6552145 L28.2914063,17.6552145 Z M24.9841797,0 L0,15.0911485 L0,43.768264 L6.48886719,47.5793135 L6.48886719,18.8994719 L24.9892578,7.68440924 L43.5068359,18.8831155 L43.5832031,18.926538 L43.575,47.5364752 L50,43.768264 L50,15.0911485 L24.9841797,0 L24.9841797,0 L24.9841797,0 Z" id="Shape"></path>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>

            <span class="cms__name">Magento</span>
        </div>

        <div class="cms">
            <div class="cms__logo">
                <?xml version="1.0" encoding="UTF-8" standalone="no"?>
                <svg width="50px" height="58px" viewBox="0 0 50 58" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: sketchtool 40.2 (33826) - http://www.bohemiancoding.com/sketch -->
                    <title>4C891DBE-EDEE-4A12-A870-D0032D465A0B</title>
                    <desc>Created with sketchtool.</desc>
                    <defs></defs>
                    <g id="Landing-v2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="Landing" transform="translate(-507.000000, -2253.000000)">
                            <g id="drupal" transform="translate(507.000000, 2253.000000)">
                                <g id="Group">
                                    <path d="M16.5607004,9.3529768 C6.50564203,13.6521695 0.177626459,22.0831074 0.177626459,32.9158901 C0.177626459,46.7603796 11.3268482,57.9838734 25.0805447,57.9838734 C38.8336576,57.9838734 49.983074,46.7603796 49.983074,32.9158901 C49.983074,16.2702275 34.6190662,9.65301157 34.6190662,9.65301157 C34.6190662,9.65301157 31.2632295,8.25017276 29.386965,6.99088846 C29.386965,6.99088846 27.0163424,5.53262547 22.8846303,0.163726545 C22.8846303,0.163726545 22.9782102,6.26371541 16.5607004,9.35317264" id="Shape" fill="#136DA9"></path>
                                    <path d="M22.5885215,53.1316139 C21.7138133,52.5195979 21.9217898,50.5713303 24.2920234,51.9632017 C24.2920234,51.9632017 29.338716,55.6944436 37.3293773,51.2178152 C37.9505836,50.8697983 38.7120623,52.0975516 36.7367705,53.2232694 C36.7367705,53.2232694 28.6626459,57.3818454 22.5885215,53.1316139 L22.5885215,53.1316139 L22.5885215,53.1316139 Z" id="Shape" fill="#F0F0F0"></path>
                                    <path d="M22.5885215,53.1316139 C21.7138133,52.5195979 21.9217898,50.5713303 24.2920234,51.9632017 C24.2920234,51.9632017 29.338716,55.6944436 37.3293773,51.2178152 C37.9505836,50.8697983 38.7120623,52.0975516 36.7367705,53.2232694 C36.7367705,53.2232694 28.6626459,57.3818454 22.5885215,53.1316139 L22.5885215,53.1316139 L22.5885215,53.1316139 Z" id="Shape" stroke="#FFFDFF" stroke-width="0.5"></path>
                                    <path d="M32.884825,46.9427113 C35.8231518,47.2891614 34.8128404,48.7113889 35.6011674,48.9307354 C37.2058365,49.3784374 36.5145914,47.6134811 36.5145914,47.6134811 C35.3291828,45.2274995 33.2799611,45.3767335 33.2799611,45.3767335 C30.0700389,44.8794828 27.6749027,47.9616936 27.6749027,47.9616936 C27.0822957,49.2787523 27.9114785,49.3465148 28.2180934,49.2045271 C29.7735408,48.4834253 30.7198443,46.6869376 32.884825,46.9427113 L32.884825,46.9427113 L32.884825,46.9427113 Z" id="Shape" fill="#F0F0F0"></path>
                                    <path d="M32.884825,46.9427113 C35.8231518,47.2891614 34.8128404,48.7113889 35.6011674,48.9307354 C37.2058365,49.3784374 36.5145914,47.6134811 36.5145914,47.6134811 C35.3291828,45.2274995 33.2799611,45.3767335 33.2799611,45.3767335 C30.0700389,44.8794828 27.6749027,47.9616936 27.6749027,47.9616936 C27.0822957,49.2787523 27.9114785,49.3465148 28.2180934,49.2045271 C29.7735408,48.4834253 30.7198443,46.6869376 32.884825,46.9427113 L32.884825,46.9427113 L32.884825,46.9427113 Z" id="Shape" stroke="#FFFDFF" stroke-width="0.5"></path>
                                    <path d="M3.43696498,45.5212674 C3.43696498,45.5212674 12.3659533,52.9577035 34.0947471,36.3905747 C34.0947471,36.3905747 45.0085604,29.4936919 44.6797666,17.6685618 C44.6797666,17.6685618 41.1480545,12.5591577 35.188716,9.9242571 C34.3408561,9.54921365 26.894358,5.45879184 22.8727627,0.329411541 C22.8727627,0.329411541 22.1439689,15.2099218 3.21070039,21.0846887 C3.21070039,21.0846887 -1.56011673,28.168212 1.04066148,39.6807733 C1.04066148,39.6807733 2.70544748,44.3485465 3.43696498,45.5212674" id="Shape" fill="#008ECE"></path>
                                    <path d="M17.6005837,48.2848382 C17.6005837,48.2848382 10.1929961,48.4834253 11.0821012,40.5295662 C11.0821012,40.5295662 12.6293774,31.5814013 23.0326848,33.5700129 C23.0326848,33.5700129 25.3046693,34.067068 29.5515564,37.3480617 C29.5515564,37.3480617 32.3540855,39.5229221 33.8970816,39.4819904 C33.8970816,39.4819904 35.0947471,39.597539 37.5846303,38.0109976 C37.5846303,38.0109976 42.6626459,34.0664803 44.4379377,34.1833998 C44.4821012,34.1863376 48.0208172,33.793864 48.0208172,39.5354562 C48.0208172,39.5354562 48.0865758,45.865563 43.346109,47.9863702 C43.346109,47.9863702 42.0949416,48.4172296 40.7449416,46.9922602 C40.7449416,46.9922602 36.8601168,42.5512755 34.9505836,41.8221441 C34.9505836,41.8221441 33.84786,41.3871721 32.3826848,41.9216334 C32.3826848,41.9216334 31.4280156,42.0211229 27.5105059,44.6391808 C27.5105059,44.6391808 20.9256809,48.7816973 17.6005837,48.2848382 L17.6005837,48.2848382 L17.6005837,48.2848382 Z" id="Shape" fill="#F0F0F0"></path>
                                    <path d="M17.6005837,48.2848382 C17.6005837,48.2848382 10.1929961,48.4834253 11.0821012,40.5295662 C11.0821012,40.5295662 12.6293774,31.5814013 23.0326848,33.5700129 C23.0326848,33.5700129 25.3046693,34.067068 29.5515564,37.3480617 C29.5515564,37.3480617 32.3540855,39.5229221 33.8970816,39.4819904 C33.8970816,39.4819904 35.0947471,39.597539 37.5846303,38.0109976 C37.5846303,38.0109976 42.6626459,34.0664803 44.4379377,34.1833998 C44.4821012,34.1863376 48.0208172,33.793864 48.0208172,39.5354562 C48.0208172,39.5354562 48.0865758,45.865563 43.346109,47.9863702 C43.346109,47.9863702 42.0949416,48.4172296 40.7449416,46.9922602 C40.7449416,46.9922602 36.8601168,42.5512755 34.9505836,41.8221441 C34.9505836,41.8221441 33.84786,41.3871721 32.3826848,41.9216334 C32.3826848,41.9216334 31.4280156,42.0211229 27.5105059,44.6391808 C27.5105059,44.6391808 20.9256809,48.7816973 17.6005837,48.2848382 L17.6005837,48.2848382 L17.6005837,48.2848382 Z" id="Shape" stroke="#FFFDFF" stroke-width="0.5"></path>
                                    <path d="M21.5182879,19.7501999 C26.3142023,12.8352994 22.8727627,0.130628715 22.8727627,0.130628715 C22.4496109,7.02379044 16.672179,9.29853185 16.672179,9.29853185 C6.32782102,13.7929822 3.21070039,20.8857101 3.21070039,20.8857101 C5.42743191,24.050176 11.3122568,34.4646336 21.5182879,19.7501999" id="Shape" fill="#008ECE"></path>
                                    <path d="M22.8727627,0.130628715 C22.8727627,0.130628715 23.4935797,5.93038697 20.3659533,7.81931343 C20.3659533,7.81931343 15.3501946,10.1696511 13.8190662,10.9401059 C13.8190662,10.9401059 7.37801557,14.8536795 5.25486381,18.5320431 C5.25486381,18.5320431 0.711284047,24.652204 6.98326848,23.2053 C6.98326848,23.2053 18.3250973,19.9820806 22.9342412,10.2552354 C22.9342412,10.2552354 23.205642,9.43503591 22.3412451,8.58996409 C22.3412451,8.58996409 25.7984436,5.9634848 22.8727627,0.130628715" id="Shape" fill="#A0D8F1"></path>
                                    <path d="M22.8727627,0.130628715 C22.8727627,0.130628715 23.1315176,4.09100932 19.8653697,7.3723948 C19.8653697,7.3723948 18.8846304,8.76387459 13.8190662,10.9401059 C13.8190662,10.9401059 8.02023346,13.9835395 5.42042801,18.20459 C5.42042801,18.20459 1.56750973,22.8831348 6.8507782,21.6287466 C6.8507782,21.6287466 17.555642,17.6573987 21.4782102,10.3649087 C21.4782102,10.3649087 22.0087549,9.59856661 21.2011674,8.80891897 C21.2011674,8.80891897 25.0416342,5.78957431 22.8727627,0.130628715" id="Shape" fill="#F0F0F0"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>

            <span class="cms__name">Drupal</span>
        </div>

        <div class="cms">
            <div class="cms__logo">
                <?xml version="1.0" encoding="UTF-8" standalone="no"?>
                <svg width="50px" height="51px" viewBox="0 0 50 51" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: sketchtool 40.2 (33826) - http://www.bohemiancoding.com/sketch -->
                    <title>8CA7FD40-B83D-45EC-848B-38782CF1BB29</title>
                    <desc>Created with sketchtool.</desc>
                    <defs></defs>
                    <g id="Landing-v2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="Landing" transform="translate(-602.000000, -2260.000000)">
                            <g id="joomla" transform="translate(602.000000, 2260.000000)">
                                <g id="Group">
                                    <path d="M49.9350195,7.02951769 C49.9350195,3.35132748 46.9889105,0.369591169 43.3546693,0.369591169 C40.0363812,0.369591169 37.2931906,2.85591385 36.8412451,6.08811365 C36.7990271,6.06546955 36.7745137,6.05267071 36.7745137,6.05267071 C31.3931906,3.59608071 26.8601168,7.94709619 26.8601168,7.94709619 L14.8696498,20.1420295 L19.607393,24.7596547 L29.2583658,15.163477 C33.7649805,10.6021667 36.2188717,13.6894442 36.2188717,13.6894442 C39.6114785,16.5900556 36.3357977,20.0236894 36.3357977,20.0236894 L41.1906615,24.7596547 C45.1550584,20.4261638 45.3850195,16.6440076 44.1799611,13.6352953 C47.4243191,13.2241571 49.9350195,10.4245581 49.9350195,7.02951769" id="Shape" fill="#F9AE41"></path>
                                    <path d="M44.2410506,37.6583275 C44.2634242,37.6157958 44.2760701,37.5909857 44.2760701,37.5909857 C46.703502,32.1443895 42.4042801,27.5566938 42.4042801,27.5566938 L30.3548639,15.4208321 L25.792607,20.2160659 L35.2741246,29.983748 C39.7809338,34.5450583 36.7305447,37.0286243 36.7305447,37.0286243 C33.8645914,40.4622582 30.4719844,37.1469645 30.4719844,37.1469645 L25.792607,42.0603413 C30.0741246,46.0726797 33.811284,46.3054217 36.7838521,45.0857905 C37.1900777,48.3695795 39.9564203,50.9106419 43.3108949,50.9106419 C46.9451361,50.9106419 49.8910506,47.9289055 49.8910506,44.2507153 C49.8910506,40.8922993 47.4346303,38.1159352 44.2410506,37.6583275" id="Shape" fill="#EE4035"></path>
                                    <path d="M30.457393,26.2986661 L20.8064203,35.894647 C16.2996109,40.4561542 13.8457198,37.3690736 13.8457198,37.3690736 C10.4531128,34.4682654 13.7287938,31.0348284 13.7287938,31.0348284 L8.87412451,26.298863 C4.90972762,30.6321571 4.67976654,34.4143133 5.88463035,37.4230255 C2.64007781,37.8341638 0.129571984,40.6335658 0.129571984,44.0288033 C0.129571984,47.7069935 3.07568094,50.6885327 6.70992219,50.6885327 C10.0282101,50.6887298 12.7714008,48.2026039 13.2233463,44.9704042 C13.2655642,44.9930482 13.2900778,45.0056502 13.2900778,45.0056502 C18.6715953,47.4626339 23.2044748,43.1112247 23.2044748,43.1112247 L35.1951361,30.9160944 L30.457393,26.2986661" id="Shape" fill="#4F91CD"></path>
                                    <path d="M14.7904669,21.0745728 C10.2836576,16.5132625 13.3336576,14.0296965 13.3336576,14.0296965 C16.2,10.5960626 19.5924125,13.9113564 19.5924125,13.9113564 L24.2717898,8.99817646 C19.9902725,4.98583802 16.2533074,4.753096 13.2807393,5.97253028 C12.8743191,2.68854439 10.1083658,0.147678943 6.75350195,0.147678943 C3.11945525,0.147678943 0.173540856,3.12941525 0.173346304,6.80760546 C0.173346304,10.1662185 2.62976654,12.9425826 5.82334631,13.3999935 C5.80097275,13.4427219 5.78852141,13.467532 5.78852141,13.467532 C3.36070039,18.9139314 7.66011674,23.5014302 7.66011674,23.5014302 L19.7097275,35.6372917 L24.2719844,30.8422549 L14.7904669,21.0745728" id="Shape" fill="#7AC043"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>

            <span class="cms__name">Joomla</span>
        </div>

        <div class="cms">
            <div class="cms__logo">
                <?xml version="1.0" encoding="UTF-8" standalone="no"?>
                <svg width="50px" height="50px" viewBox="0 0 50 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: sketchtool 40.2 (33826) - http://www.bohemiancoding.com/sketch -->
                    <title>F5924746-9708-4C77-B604-9E7CE67204E0</title>
                    <desc>Created with sketchtool.</desc>
                    <defs></defs>
                    <g id="Landing-v2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="Landing" transform="translate(-697.000000, -2261.000000)">
                            <g id="prestashop" transform="translate(697.000000, 2261.000000)">
                                <g id="Group">
                                    <path d="M16.2068359,38.3625 C16.6060547,38.1847656 17.0105469,38.0212891 17.41875,37.8679687 C17.8796875,37.6947266 18.3443359,37.5318359 18.8152344,37.3900391 C19.4013672,37.2134766 19.9923828,37.0537109 20.5914062,36.9265625 C21.3990234,36.7550781 22.2162109,36.628125 23.0394531,36.5482422 C22.5777344,38 22.0673828,39.4435547 21.5144531,40.8779297 C21.5380859,41.1556641 21.5507812,41.4351562 21.5582031,41.7154297 C22.671875,41.4957031 23.821875,41.378125 25,41.378125 C26.1779297,41.378125 27.328125,41.4957031 28.4417969,41.7154297 C28.4492188,41.4351562 28.4619141,41.1556641 28.4855469,40.8779297 C27.9324219,39.4435547 27.4222656,38 26.9605469,36.5482422 C27.7837891,36.628125 28.6009766,36.7550781 29.4085938,36.9265625 C30.0074219,37.0537109 30.5984375,37.2134766 31.1845703,37.3900391 C31.6556641,37.5318359 32.1203125,37.6947266 32.58125,37.8679687 C32.9896484,38.0214844 33.3943359,38.1849609 33.7935547,38.3626953 C36.6263672,39.6242188 39.2087891,41.4953125 41.3267578,43.9234375 C46.6353516,39.3392578 50,32.5646484 50,25 C50,11.1929687 38.8070313,0 25,0 C11.1929688,0 0,11.1929687 0,25 C0,32.5646484 3.36464844,39.3390625 8.67324219,43.9234375 C10.7912109,41.4953125 13.3740234,39.6240234 16.2068359,38.3625" id="Shape" fill="#A5DBE8"></path>
                                    <path d="M33.7935547,38.3626953 L35.3455078,43.6992187 L35.7857422,43.7199219 C36.0714844,43.7199219 36.2724609,43.7951172 36.2724609,44.0808594 C36.2724609,44.5558594 36.2970703,45.0896484 36.3425781,45.5556641 C36.7292969,45.8839844 37.2001953,46.2542969 37.5572266,46.6140625 C38.8984375,45.8332031 40.1591797,44.9316406 41.3267578,43.9234375 C39.2087891,41.4953125 36.6263672,39.6242187 33.7935547,38.3626953" id="Shape" fill="#525353"></path>
                                    <path d="M30.7589844,38.309375 L32.58125,37.8679687 C32.1203125,37.6947266 31.6556641,37.5318359 31.1845703,37.3900391 C30.5984375,37.2134766 30.0074219,37.0537109 29.4085938,36.9265625 C28.6009766,36.7550781 27.7837891,36.628125 26.9605469,36.5482422 C27.4222656,38 27.9324219,39.4435547 28.4855469,40.8779297 C28.4619141,41.1556641 28.4492188,41.4351562 28.4417969,41.7154297 C29.7330078,41.9701172 31.0025391,42.4126953 32.1763672,42.9318359 L30.7589844,38.309375" id="Shape" fill="#525353"></path>
                                    <path d="M12.4427734,46.6140625 C12.7330078,46.7832031 13.0261719,46.9482422 13.3242187,47.1058594 C13.4285156,46.6048828 13.5953125,45.9107422 13.6457031,45.3953125 C13.2589844,45.7236328 12.7998047,46.2542969 12.4427734,46.6140625" id="Shape" fill="#000000"></path>
                                    <path d="M32.1458984,42.8857422 C30.9722656,42.3666016 29.7330078,41.9701172 28.4417969,41.7154297 C27.328125,41.4957031 26.1779297,41.378125 25,41.378125 C23.821875,41.378125 22.671875,41.4957031 21.5582031,41.7154297 C20.2671875,41.9699219 18.9201172,42.3560547 17.7466797,42.875 L17.621875,43.6525391 L32.3785156,43.6525391 L32.1458984,42.8857422" id="Shape" fill="#000000"></path>
                                    <path d="M13.6,45.5433594 C13.6457031,45.0773438 13.6787109,44.6619141 13.6787109,44.1867188 C13.6787109,43.9011719 13.8746094,43.7181641 14.1603516,43.7181641 L14.6289062,43.7017578 L16.2068359,38.3625 C13.3740234,39.6240234 10.7912109,41.4953125 8.67324219,43.9234375 C9.84082031,44.9316406 11.1015625,45.8332031 12.4427734,46.6140625 C12.7998047,46.2542969 13.1716797,45.9091797 13.5583984,45.5808594" id="Shape" fill="#525353"></path>
                                    <path d="M36.5333984,46.4931641 C36.6345703,47.0009766 36.6574219,47.1021484 36.6757812,47.1058594 C36.9738281,46.9482422 37.2667969,46.7832031 37.5572266,46.6140625 C37.2001953,46.2542969 36.8167969,45.8976563 36.4298828,45.5693359 L36.5333984,46.4931641" id="Shape" fill="#000000"></path>
                                    <path d="M32.1458984,42.8857422 L32.3785156,43.6525391 L35.396875,43.6525391 L33.7935547,38.3626953 C33.3943359,38.1849609 32.9896484,38.0214844 32.58125,37.8679687 L30.7589844,38.309375 L32.1458984,42.8857422" id="Shape" fill="#AA9678"></path>
                                    <path d="M14.6560547,44.7208984 C14.671875,44.7097656 14.6878906,44.6986328 14.7035156,44.6873047 L14.6582031,44.6873047 C14.6578125,44.6984375 14.6566406,44.7097656 14.6560547,44.7208984" id="Shape" fill="#C4B6A1"></path>
                                    <path d="M35.3417969,44.6873047 L35.2962891,44.6873047 C35.3121094,44.6986328 35.328125,44.7097656 35.34375,44.7208984 C35.3433594,44.7097656 35.3421875,44.6984375 35.3417969,44.6873047" id="Shape" fill="#AA9678"></path>
                                    <path d="M35.2898438,44.6101562 L24.9785156,44.621875 L25,50 C28.8375,50 32.471875,49.1330078 35.7212891,47.5876953 C35.5091797,46.6556641 35.4878906,45.6517578 35.4533203,44.6748047 C35.4376953,44.6634766 35.2898438,44.6101562 35.2898438,44.6101562" id="Shape" fill="#AA9678"></path>
                                    <path d="M24.9833984,44.6441406 C24.9833984,44.6441406 14.6152344,44.6310547 14.5994141,44.6421875 C14.5650391,45.6193359 14.3634766,46.7787109 14.2787109,47.5876953 C17.528125,49.1330078 21.1625,50 25,50 L25.0058594,44.6615234 L24.9833984,44.6441406" id="Shape" fill="#C4B6A1"></path>
                                    <polygon id="Shape" fill="#786453" points="25 44.1699219 25.0001953 44.1699219 25.0001953 44.6873047 25 44.6873047"></polygon>
                                    <path d="M32.1580078,40.0851563 C32.0826172,39.9984375 32.0048828,39.9056641 31.9242187,39.8 C32.0050781,39.9056641 32.0826172,39.9984375 32.1580078,40.0851563" id="Shape" fill="#525353"></path>
                                    <path d="M32.7332031,40.65625 C32.7332031,40.65625 32.7349609,40.6619141 32.7384766,40.6724609 C32.7349609,40.6619141 32.7332031,40.65625 32.7332031,40.65625 C32.7332031,40.65625 32.4796875,40.4552734 32.1580078,40.0851563 C32.4796875,40.4552734 32.7332031,40.65625 32.7332031,40.65625" id="Shape" fill="#AA9678"></path>
                                    <polyline id="Shape" fill="#FFFFFF" points="40.3722656 18.0367188 40.3722656 18.0378906 40.3722656 18.0367188"></polyline>
                                    <path d="M41.3783203,25.2345703 C41.3783203,25.2320313 41.3785156,25.2296875 41.3785156,25.2271484 C41.3785156,25.2296875 41.3783203,25.2320313 41.3783203,25.2345703" id="Shape" fill="#FFFFFF"></path>
                                    <path d="M41.3785156,25.2271484 C41.3785156,25.2248047 41.3783203,25.2228516 41.3783203,25.2203125 C41.3783203,25.2226563 41.3785156,25.2248047 41.3785156,25.2271484" id="Shape" fill="#BBBCBD"></path>
                                    <path d="M41.3503906,24.8376953 C41.3511719,24.8443359 41.353125,24.8501953 41.3539063,24.8568359 C41.3544922,24.8609375 41.3556641,24.8646484 41.35625,24.8685547 L41.35625,24.8701172 C41.3681641,24.965625 41.3726563,25.0654297 41.3748047,25.1660156 C41.3751953,25.1845703 41.3783203,25.2019531 41.3783203,25.2203125 C41.3783203,25.2228516 41.3785156,25.2248047 41.3785156,25.2271484 C41.3785156,25.2296875 41.3783203,25.2320313 41.3783203,25.2345703 C41.378125,25.2544922 41.3748047,25.2730469 41.3746094,25.2927734 C41.3722656,25.3914063 41.3679688,25.4892578 41.3564453,25.5830078 L41.3564453,25.584375 C41.3556641,25.5892578 41.3544922,25.59375 41.3537109,25.5986328 C41.3529297,25.60625 41.3505859,25.6130859 41.3496094,25.6205078 C41.3355469,25.7228516 41.3175781,25.8220703 41.2935547,25.9164063 C41.2933594,25.9169922 41.2933594,25.9173828 41.2931641,25.9177734 L41.2931641,25.9179688 L41.2966797,25.9140625 C41.2970703,25.9125 41.2976563,25.9111328 41.2980469,25.9095703 L41.2980469,25.9097656 L41.9523438,25.2248047 L41.2927734,24.534375 C41.2927734,24.5347656 41.2927734,24.5353516 41.2929688,24.5357422 C41.3175781,24.6320313 41.3363281,24.7332031 41.3503906,24.8376953" id="Shape" fill="#676A6A"></path>
                                    <path d="M41.3496094,25.6205078 C41.3513672,25.6076172 41.3546875,25.5960938 41.3564453,25.5830078 C41.3679688,25.4892578 41.3722656,25.3914063 41.3746094,25.2927734 C41.3748047,25.2705078 41.3783203,25.2496094 41.3783203,25.2271484 C41.3783203,25.20625 41.3751953,25.1867188 41.3748047,25.1660156 C41.3726563,25.0654297 41.3681641,24.965625 41.35625,24.8701172 C41.3546875,24.8587891 41.3517578,24.8488281 41.3503906,24.8376953 C41.3363281,24.7332031 41.3175781,24.6320313 41.2929688,24.5357422 C41.284375,24.5021484 41.2724609,24.4722656 41.2625,24.4398438 C41.2033203,24.2441406 41.1226563,24.0712891 41.0269531,23.9277344 C41.0140625,23.9085938 41.0009766,23.8900391 40.9876953,23.8720703 C40.9613281,23.8367188 40.9349609,23.8023438 40.9070313,23.7714844 C40.865625,23.7267578 40.8228516,23.6855469 40.7777344,23.6513672 C40.7605469,23.6382813 40.7423828,23.6291016 40.7248047,23.6177734 C40.6857422,23.5925781 40.6458984,23.5705078 40.6046875,23.5537109 C40.5871094,23.5466797 40.5693359,23.5396484 40.5513672,23.5339844 C40.4931641,23.5160156 40.4335938,23.503125 40.3722656,23.503125 C40.3109375,23.503125 40.2515625,23.5160156 40.1931641,23.5339844 C40.1751953,23.5396484 40.1574219,23.5466797 40.1398438,23.5539063 C40.0986328,23.5705078 40.0587891,23.5925781 40.0195313,23.6177734 C40.0023438,23.6291016 39.9839844,23.6380859 39.9669922,23.6511719 C39.921875,23.6855469 39.8789063,23.7267578 39.8375,23.7714844 C39.8095703,23.8023438 39.7832031,23.8367188 39.7572266,23.8716797 C39.7435547,23.8900391 39.7304688,23.9085938 39.7175781,23.9279297 C39.621875,24.0714844 39.5410156,24.2443359 39.4820313,24.4400391 C39.4796875,24.4478516 39.4769531,24.4554688 39.4746094,24.4634766 C39.4484375,24.5533203 39.428125,24.6478516 39.4111328,24.7449219 C39.4060547,24.7746094 39.3992188,24.803125 39.3951172,24.8335938 C39.3794922,24.9421875 39.3714844,25.0554688 39.3695313,25.1714844 C39.3693359,25.1875 39.3667969,25.2027344 39.3667969,25.21875 L39.3707031,25.21875 C39.3707031,26.1710938 39.8212891,26.9429688 40.3769531,26.9429688 C40.4726563,26.9429688 40.5646484,26.9179688 40.6523438,26.8751953 C40.6664063,26.8681641 40.6802734,26.8609375 40.6941406,26.8529297 C40.7304688,26.8320313 40.7662109,26.8091797 40.8003906,26.7816406 C40.8193359,26.7664063 40.8371094,26.7480469 40.8552734,26.7308594 C40.8996094,26.6894531 40.9417969,26.6425781 40.9818359,26.5904297 C41.0095703,26.5539063 41.0369141,26.5173828 41.0623047,26.4765625 C41.0785156,26.4505859 41.0933594,26.4224609 41.1083984,26.3947266 C41.1365234,26.3427734 41.1630859,26.2886719 41.1871094,26.23125 C41.1960938,26.2105469 41.2052734,26.1904297 41.2134766,26.1691406 C41.2441406,26.0892578 41.2708984,26.0048828 41.2935547,25.9164063 C41.3175781,25.8220703 41.3355469,25.7228516 41.3496094,25.6205078 L41.3496094,25.6205078 L41.3496094,25.6205078 Z M40.4083984,24.9976563 C40.2,24.9976563 40.0310547,24.7080078 40.0310547,24.3509766 C40.0310547,23.9941406 40.2,23.7044922 40.4083984,23.7044922 C40.6167969,23.7044922 40.7855469,23.9941406 40.7855469,24.3509766 C40.7855469,24.7080078 40.6167969,24.9976563 40.4083984,24.9976563 L40.4083984,24.9976563 L40.4083984,24.9976563 Z" id="Shape" fill="#000000"></path>
                                    <path d="M40.4083984,23.7044922 C40.2,23.7044922 40.0310547,23.9941406 40.0310547,24.3509766 C40.0310547,24.7080078 40.2,24.9976562 40.4083984,24.9976562 C40.6167969,24.9976562 40.7855469,24.7080078 40.7855469,24.3509766 C40.7855469,23.9941406 40.6167969,23.7044922 40.4083984,23.7044922" id="Shape" fill="#FFFFFF"></path>
                                    <path d="M39.4820312,24.4400391 L39.4820312,24.4400391 C39.5410156,24.2443359 39.621875,24.0714844 39.7175781,23.9279297 C39.7304687,23.9083984 39.7435547,23.8902344 39.7572266,23.8716797 C39.7832031,23.8367187 39.8095703,23.8023437 39.8375,23.7714844 C39.8789062,23.7263672 39.921875,23.6857422 39.9669922,23.6511719 C39.9839844,23.6380859 40.0023437,23.6291016 40.0195312,23.6177734 C40.0585937,23.5921875 40.0986328,23.5708984 40.1398437,23.5539062 C40.1574219,23.5466797 40.1751953,23.5396484 40.1931641,23.5339844 C40.2513672,23.515625 40.3109375,23.503125 40.3722656,23.503125 C40.4335937,23.503125 40.4931641,23.515625 40.5513672,23.5339844 C40.5693359,23.5396484 40.5871094,23.5466797 40.6046875,23.5537109 C40.6458984,23.5708984 40.6857422,23.5921875 40.7248047,23.6177734 C40.7423828,23.6291016 40.7605469,23.6382812 40.7777344,23.6513672 C40.8226562,23.6857422 40.865625,23.7263672 40.9070312,23.7714844 C40.9349609,23.8023437 40.9613281,23.8367187 40.9876953,23.8720703 C41.0009766,23.8902344 41.0140625,23.9083984 41.0269531,23.9277344 C41.1226562,24.0712891 41.2033203,24.2441406 41.2625,24.4398437 L41.2625,24.4402344 L40.3722656,20.3626953 L39.4818359,24.4400391 L39.4820312,24.4400391" id="Shape" fill="#909393"></path>
                                    <path d="M28.5740234,25.1890625 C28.5728516,25.1070312 28.5675781,25.0259766 28.5583984,24.9462891 C28.5582031,24.9453125 28.5578125,24.9441406 28.5578125,24.9429687 C28.5484375,24.8644531 28.5353516,24.7869141 28.5185547,24.7109375 C28.5179688,24.7089844 28.5173828,24.7072266 28.5169922,24.7050781 C28.5001953,24.6298828 28.4796875,24.5560547 28.4558594,24.4835937 C28.4552734,24.4820312 28.4544922,24.4804687 28.4539063,24.4787109 C28.4298828,24.40625 28.4025391,24.3353516 28.3714844,24.2662109 C28.3710938,24.2648437 28.3701172,24.2634766 28.3695313,24.2619141 C28.3384766,24.1925781 28.3041016,24.1248047 28.2666016,24.0591797 C28.1521484,23.8585937 28.009375,23.6767578 27.8433594,23.5185547 C27.6326172,23.3179687 27.3847656,23.1556641 27.1115234,23.0431641 C27.109375,23.0423828 27.1068359,23.0416016 27.1046875,23.040625 C26.9699219,22.9857422 26.8291016,22.9427734 26.6832031,22.9134766 C26.6794922,22.9128906 26.6759766,22.9126953 26.6722656,22.9119141 C26.5259766,22.8832031 26.3751953,22.8675781 26.2205078,22.8675781 C26.0683594,22.8675781 25.9205078,22.8832031 25.7765625,22.9107422 C25.7714844,22.9117187 25.7664063,22.9121094 25.7613281,22.9130859 C25.6181641,22.9416016 25.4800781,22.9833984 25.3474609,23.0365234 C25.3441406,23.0378906 25.3404297,23.0390625 25.3369141,23.040625 C25.2025391,23.0953125 25.0742188,23.1619141 24.9537109,23.2394531 C24.953125,23.2398437 24.9527344,23.2400391 24.9523438,23.2400391 C24.8306641,23.3185547 24.7164063,23.4078125 24.6113281,23.5064453 L24.6087891,23.5144531 L24.6,23.5164062 C24.4322266,23.6759766 24.2878906,23.8599609 24.1724609,24.0621094 C24.1712891,24.0644531 24.1697266,24.0667969 24.1681641,24.0693359 C24.1330078,24.13125 24.1011719,24.1957031 24.071875,24.2613281 C24.06875,24.2683594 24.0648438,24.275 24.0619141,24.2820312 C24.0351563,24.3427734 24.0121094,24.4056641 23.990625,24.4689453 C23.9865234,24.4814453 23.9810547,24.4931641 23.9771484,24.5054687 C23.9583984,24.5646484 23.9431641,24.6253906 23.9287109,24.6861328 C23.925,24.7037109 23.9193359,24.7205078 23.915625,24.7378906 C23.903125,24.7980469 23.8945313,24.8595703 23.8865234,24.9212891 C23.8841797,24.9402344 23.8800781,24.9583984 23.878125,24.9773437 C23.8697266,25.0580078 23.8650391,25.1398437 23.8650391,25.2230469 C23.8650391,25.3789062 23.8810547,25.5308594 23.9101563,25.678125 C23.9105469,25.6810547 23.9107422,25.684375 23.9115234,25.6875 C23.9410156,25.8345703 23.984375,25.9763672 24.0400391,26.1121094 C24.0408203,26.1140625 24.0412109,26.1160156 24.0421875,26.1177734 C24.1554688,26.3923828 24.3193359,26.6410156 24.521875,26.8521484 C24.6820313,27.0191406 24.8664063,27.1623047 25.0691406,27.2767578 C25.0701172,27.2773437 25.0710938,27.2779297 25.0720703,27.2785156 C25.1353516,27.3140625 25.2007813,27.3460937 25.2673828,27.3757812 C25.2728516,27.378125 25.278125,27.38125 25.2837891,27.3835937 C25.3455078,27.4105469 25.409375,27.4337891 25.4736328,27.4554687 C25.4845703,27.4591797 25.4951172,27.4638672 25.5060547,27.4673828 C25.5654297,27.4863281 25.6267578,27.5015625 25.6880859,27.515625 C25.7046875,27.5195312 25.7207031,27.525 25.7375,27.5285156 C25.7970703,27.5408203 25.8583984,27.5492187 25.9201172,27.5572266 C25.9386719,27.559375 25.9570313,27.5636719 25.9759766,27.565625 C26.05625,27.5740234 26.1378906,27.5785156 26.2205078,27.5785156 C26.5457031,27.5785156 26.8554688,27.5125 27.1373047,27.3931641 C27.278125,27.3337891 27.4121094,27.2609375 27.5373047,27.1761719 C27.7880859,27.0068359 28.0042969,26.7904297 28.1736328,26.5400391 C28.2582031,26.4146484 28.33125,26.2808594 28.3908203,26.1398437 C28.5099609,25.8580078 28.5759766,25.5482422 28.5759766,25.2230469 C28.5759766,25.2173828 28.5751953,25.2121094 28.5751953,25.2068359 C28.575,25.2007812 28.5742188,25.1951172 28.5740234,25.1890625 L28.5740234,25.1890625 L28.5740234,25.1890625 Z M26.2205078,24.9130859 C25.7318359,24.9130859 25.3357422,24.5167969 25.3357422,24.028125 C25.3357422,23.5394531 25.7318359,23.1433594 26.2205078,23.1433594 C26.7091797,23.1433594 27.1052734,23.5394531 27.1052734,24.028125 C27.1052734,24.5167969 26.7091797,24.9130859 26.2205078,24.9130859 L26.2205078,24.9130859 L26.2205078,24.9130859 Z" id="Shape" fill="#000000"></path>
                                    <path d="M26.2205078,23.1433594 C25.7318359,23.1433594 25.3357422,23.5394531 25.3357422,24.028125 C25.3357422,24.5167969 25.7318359,24.9130859 26.2205078,24.9130859 C26.7091797,24.9130859 27.1052734,24.5167969 27.1052734,24.028125 C27.1052734,23.5394531 26.7091797,23.1433594 26.2205078,23.1433594" id="Shape" fill="#FFFFFF"></path>
                                    <path d="M24.6,23.5164062 L24.6,23.5164062 L24.6087891,23.5144531 L24.6113281,23.5064453 L26.2335938,18.5451172 L26.2335938,17.3839844 C26.2335938,17.3753906 26.2333984,17.3708984 26.2333984,17.3708984 C25.3298828,17.1855469 24.4009766,17.0837891 23.4501953,17.0837891 C23.1328125,17.0837891 22.8179688,17.0972656 22.5050781,17.1185547 C22.4595703,17.1216797 22.4138672,17.1244141 22.3681641,17.1279297 C20.7398438,17.2515625 19.1363281,17.6759766 17.6515625,18.3537109 C16.3783203,18.9351562 15.1953125,19.7009766 14.1318359,20.6089844 L14.1318359,20.6091797 C14.1314453,20.6097656 14.1306641,20.6101562 14.1300781,20.6107422 C13.8445313,20.8533203 13.5708984,21.109375 13.3037109,21.371875 C13.2537109,21.4207031 13.2029297,21.4691406 13.1535156,21.51875 C12.9019531,21.7722656 12.6587891,22.0341797 12.4236328,22.3037109 C12.3726563,22.3625 12.3224609,22.4224609 12.2720703,22.4818359 C12.0359375,22.7605469 11.80625,23.0445312 11.5880859,23.3378906 C11.5699219,23.3625 11.5529297,23.3882812 11.5349609,23.4128906 C11.3269531,23.6958984 11.1289063,23.9863281 10.9380859,24.2816406 C10.9007813,24.3392578 10.8625,24.3960937 10.8259766,24.4542969 C10.6716797,24.6990234 10.528125,24.9503906 10.3855469,25.2023437 L17.7755859,25.2023437 L24.6,23.5164062" id="Shape" fill="#BBBCBD"></path>
                                    <path d="M30.8388672,22.9582031 C30.8539062,22.7646484 30.8662109,22.5712891 30.8761719,22.3775391 C30.8896484,22.1154297 30.8988281,21.8529297 30.9039062,21.590625 C30.9078125,21.3869141 30.9072266,21.1830078 30.90625,20.9792969 C30.90625,20.9205078 30.9076172,20.8617187 30.9070312,20.8027344 C30.9015625,20.2777344 30.8810547,19.7521484 30.8490234,19.2259766 C30.8474609,19.225 30.8460937,19.2240234 30.8445312,19.2230469 C30.8439453,19.2216797 30.8431641,19.2205078 30.8425781,19.2193359 C30.840625,19.2179687 30.8330078,19.2136719 30.8259766,19.2097656 C30.8197266,19.2060547 30.8142578,19.2029297 30.8025391,19.1962891 C30.7060547,19.1408203 30.4689453,19.0050781 30.2560547,18.8841797 C30.2513672,18.8816406 30.246875,18.8789062 30.2423828,18.8763672 C30.1884766,18.8458984 30.1365234,18.8164062 30.0894531,18.7898437 C30.0884766,18.7892578 30.0875,18.7888672 30.0867187,18.7882812 C30.0460937,18.7654297 30.0121094,18.7464844 29.9806641,18.7289062 C29.9744141,18.7253906 29.965625,18.7205078 29.9597656,18.7171875 C29.9251953,18.6980469 29.8984375,18.6835937 29.8826172,18.6751953 C29.5429687,18.4990234 29.1962891,18.3359375 28.84375,18.1871094 C28.0033203,17.8322266 26.8712891,17.5210937 26.2335937,17.3708984 L26.2335937,18.5451172 L27.8416016,23.5144531 L27.8433594,23.5185547 C28.009375,23.6767578 28.1521484,23.8585937 28.2666016,24.0589844 L28.2666016,24.0591797 C28.3041016,24.1248047 28.3384766,24.1925781 28.3695312,24.2619141 C28.3703125,24.2634766 28.3710937,24.2648437 28.3714844,24.2662109 C28.4025391,24.3353516 28.4298828,24.40625 28.4539062,24.4787109 C28.4544922,24.4804687 28.4552734,24.4820312 28.4558594,24.4835937 C28.4796875,24.5560547 28.5001953,24.6298828 28.5169922,24.7050781 C28.5173828,24.7072266 28.5179687,24.7089844 28.5185547,24.7109375 C28.5353516,24.7869141 28.5484375,24.8644531 28.5578125,24.9429687 C28.5578125,24.9441406 28.5582031,24.9453125 28.5583984,24.9462891 C28.5675781,25.0259766 28.5728516,25.1070312 28.5740234,25.1890625 L28.5800781,25.2023437 L30.5490234,25.2023437 C30.6820312,24.4818359 30.7748047,23.7517578 30.8335937,23.0185547 C30.8349609,22.9984375 30.8373047,22.9783203 30.8388672,22.9582031" id="Shape" fill="#E3DDDB"></path>
                                    <path d="M33.4138672,21.2011719 C33.4125,21.2033203 33.4115234,21.2058594 33.4103516,21.2080078 C33.4115234,21.2058594 33.4126953,21.2035156 33.4138672,21.2013672" id="Shape" fill="#FCB03F"></path>
                                    <path d="M24.6113281,23.5064453 L24.6113281,23.5064453 C24.7164062,23.4078125 24.8306641,23.3185547 24.9523438,23.2400391 C24.9527344,23.2400391 24.953125,23.2398438 24.9537109,23.2394531 C25.0742187,23.1619141 25.2025391,23.0953125 25.3369141,23.040625 C25.3404297,23.0390625 25.3441406,23.0380859 25.3474609,23.0365234 C25.4800781,22.9833984 25.6181641,22.9416016 25.7613281,22.9130859 C25.7664062,22.9121094 25.7712891,22.9117188 25.7765625,22.9107422 C25.9205078,22.8832031 26.0683594,22.8675781 26.2205078,22.8675781 C26.3751953,22.8675781 26.5259766,22.8832031 26.6722656,22.9119141 C26.6759766,22.9126953 26.6794922,22.9128906 26.6832031,22.9134766 C26.8291016,22.9427734 26.9699219,22.9857422 27.1046875,23.040625 C27.1068359,23.0416016 27.1091797,23.0423828 27.1115234,23.0431641 C27.3847656,23.1556641 27.6326172,23.3179688 27.8433594,23.5185547 L27.8416016,23.5144531 L26.2335938,18.5451172 L24.6113281,23.5064453" id="Shape" fill="#909393"></path>
                                    <path d="M24.0400391,26.1121094 C23.984375,25.9763672 23.9410156,25.8345703 23.9115234,25.6875 C23.9107422,25.684375 23.9105469,25.6810547 23.9101563,25.678125 C23.8810547,25.5308594 23.8650391,25.3789062 23.8650391,25.2230469 C23.8650391,25.1398437 23.8697266,25.0580078 23.878125,24.9773437 C23.8800781,24.9583984 23.8841797,24.9402344 23.8865234,24.9212891 C23.8945313,24.8595703 23.903125,24.7980469 23.915625,24.7378906 C23.9193359,24.7205078 23.925,24.7037109 23.9287109,24.6861328 C23.9431641,24.6253906 23.9583984,24.5646484 23.9771484,24.5054687 C23.98125,24.4931641 23.9863281,24.4814453 23.990625,24.4689453 C24.0121094,24.4056641 24.0351563,24.3427734 24.0619141,24.2820312 C24.0648438,24.275 24.06875,24.2683594 24.071875,24.2613281 C24.1011719,24.1957031 24.1330078,24.13125 24.1681641,24.0693359 C24.1697266,24.0667969 24.1712891,24.0644531 24.1724609,24.0621094 C24.2878906,23.8599609 24.4322266,23.6759766 24.6,23.5164062 L17.7755859,25.2023437 L17.7625,25.2023437 L24.521875,26.8521484 C24.3193359,26.6410156 24.1554688,26.3923828 24.0421875,26.1177734 C24.0412109,26.1160156 24.0408203,26.1140625 24.0400391,26.1121094" id="Shape" fill="#676A6A"></path>
                                    <path d="M39.3951172,24.8335938 C39.3994141,24.803125 39.4058594,24.7746094 39.4111328,24.7449219 C39.428125,24.6478516 39.4484375,24.5533203 39.4746094,24.4634766 C39.4775391,24.4533203 39.4787109,24.4417969 39.4818359,24.4318359 L40.3722656,20.3544922 L40.3720703,18.0296875 C39.6445312,17.4287109 38.8654297,17.1001953 38.0542969,17.1001953 C37.0292969,17.1001953 36.0736328,17.6662109 35.3589844,18.3652344 C34.5769531,19.1302734 33.9726562,20.0927734 33.4839844,21.0640625 C33.4615234,21.1087891 33.4384766,21.1517578 33.4162109,21.1966797 C33.5667969,21.3271484 33.7158203,21.459375 33.8628906,21.5939453 C34.1957031,21.8984375 34.5212891,22.2109375 34.8425781,22.5277344 C34.9921875,22.6753906 35.1390625,22.8261719 35.2863281,22.9763672 C35.4425781,23.1355469 35.5990234,23.2943359 35.7529297,23.4560547 C35.9507812,23.6640625 36.146875,23.8738281 36.3410156,24.0857422 C36.4228516,24.1748047 36.5044922,24.2642578 36.5853516,24.3541016 C36.8195312,24.6132813 37.0525391,24.8736328 37.2816406,25.1375 L37.2820312,25.1378906 C37.3205078,25.178125 37.3474609,25.2070313 37.3578125,25.21875 L39.3660156,25.21875 C39.3660156,25.2025391 39.3693359,25.1876953 39.3695312,25.1714844 C39.3714844,25.0554688 39.3794922,24.9421875 39.3951172,24.8335938" id="Shape" fill="#E3DDDB"></path>
                                    <path d="M33.4160156,21.2074219 C33.4152344,21.2052734 33.4144531,21.203125 33.4138672,21.2013672 C33.4126953,21.2035156 33.4115234,21.2058594 33.4103516,21.2080078 C33.4115234,21.2091797 33.4173828,21.2150391 33.4191406,21.2166016 C33.4181641,21.2134766 33.4171875,21.2105469 33.4160156,21.2074219" id="Shape" fill="#E3DDDB"></path>
                                    <path d="M9.17480469,27.7681641 C9.18066406,27.753125 9.18691406,27.7382813 9.19277344,27.7232422 C9.32207031,27.3851563 9.46367187,27.0515625 9.61230469,26.7210938 C9.65390625,26.6291016 9.69667969,26.5378906 9.73964844,26.4464844 C9.86152344,26.1871094 9.99042969,25.93125 10.1240234,25.6777344 C10.1783203,25.5746094 10.2314453,25.4710938 10.2876953,25.3689453 C10.31875,25.3125 10.3539062,25.2585938 10.3855469,25.2023438 C10.528125,24.9503906 10.6716797,24.6990234 10.8259766,24.4542969 C10.8625,24.3958984 10.9007812,24.3392578 10.9380859,24.2816406 C11.1289062,23.9863281 11.3269531,23.6958984 11.5349609,23.4128906 C11.5529297,23.3882813 11.5699219,23.3625 11.5880859,23.3378906 C11.80625,23.0445313 12.0359375,22.7605469 12.2720703,22.4818359 C12.3224609,22.4224609 12.3724609,22.3626953 12.4236328,22.3037109 C12.6587891,22.0341797 12.9019531,21.7722656 13.1535156,21.51875 C13.203125,21.4691406 13.2537109,21.4207031 13.3037109,21.371875 C13.5708984,21.109375 13.8445312,20.8533203 14.1300781,20.6107422 C14.1306641,20.6101563 14.1314453,20.6095703 14.1318359,20.6089844 C15.2550781,16.8464844 18.8820312,14.534375 22.9486328,14.534375 C24.5853516,14.534375 26.2130859,15.0060547 27.6080078,15.859375 C29.0388672,16.7345703 30.0144531,17.5896484 30.771875,19.084375 C30.7755859,19.0919922 30.7794922,19.0994141 30.7832031,19.1068359 C30.8023437,19.1447266 30.8238281,19.1810547 30.8425781,19.2193359 C30.8431641,19.2205078 30.8439453,19.2216797 30.8445312,19.2230469 C30.8460937,19.2240234 30.8474609,19.225 30.8490234,19.2259766 C31.4826172,19.6162109 32.0871094,20.0585938 32.6617187,20.5433594 C32.8533203,20.7050781 33.0416016,20.8712891 33.2265625,21.0421875 C33.2875,21.0980469 33.3501953,21.1511719 33.4103516,21.2080078 C33.4115234,21.2056641 33.4125,21.2033203 33.4138672,21.2011719 C33.4144531,21.1996094 33.4152344,21.1978516 33.4160156,21.1964844 C33.4367187,21.1541016 33.4570312,21.1109375 33.4779297,21.0691406 C34.0509766,17.4525391 35.8716797,15.4804688 37.7533203,15.4804688 C39.1716797,15.4804688 40.2027344,16.3261719 40.9814453,18.6027344 L40.9894531,18.6271484 C40.9900391,18.6279297 40.9908203,18.6289063 40.9914062,18.6298828 C41.2113281,18.86875 41.4255859,19.1320313 41.6333984,19.4205078 L41.6330078,19.4203125 C41.6371094,19.4257813 41.6414062,19.4308594 41.6455078,19.4365234 L41.6453125,19.4363281 L41.6455078,19.4365234 C41.6566406,19.4695313 41.6662109,19.5035156 41.6769531,19.5365234 L41.6769531,19.5363281 L41.6476562,19.4177734 C39.3068359,12.4876953 32.7521484,7.49824219 25.0318359,7.49824219 C15.3482422,7.49824219 7.49824219,15.3482422 7.49824219,25.0318359 C7.49824219,26.9408203 7.80332031,28.7787109 8.36972656,30.4888672 C8.3703125,30.4857422 8.37128906,30.4824219 8.37207031,30.4789063 C8.48339844,29.9630859 8.61679687,29.4503906 8.77207031,28.9431641 C8.89316406,28.5478516 9.02773437,28.1556641 9.17480469,27.7681641" id="Shape" fill="#525353"></path>
                                    <path d="M41.9095703,25.2255859 L41.2980469,25.9097656 L41.2980469,25.9095703 C41.2976562,25.9111328 41.2970703,25.9125 41.2966797,25.9140625 C41.2734375,26.0041016 41.2449219,26.0880859 41.2134766,26.1691406 C41.2052734,26.1904297 41.1960937,26.2105469 41.1871094,26.23125 C41.1628906,26.2886719 41.1367187,26.3429688 41.1083984,26.3947266 C41.0933594,26.4224609 41.0785156,26.4505859 41.0623047,26.4765625 C41.0369141,26.5171875 41.0095703,26.5541016 40.9818359,26.5904297 C40.9417969,26.6425781 40.8996094,26.6894531 40.8552734,26.7308594 C40.8371094,26.7478516 40.8195312,26.7664063 40.8003906,26.7816406 C40.7662109,26.8091797 40.7304687,26.8320312 40.6941406,26.8529297 C40.6800781,26.8607422 40.6664062,26.8681641 40.6523437,26.8751953 C40.5646484,26.9179688 40.4726562,26.9429688 40.3769531,26.9429688 C39.8212891,26.9429688 39.3707031,26.1710938 39.3707031,25.21875 L37.3517578,25.21875 C37.3523437,25.2193359 37.3525391,25.2199219 37.3529297,25.2203125 C37.7279297,25.653125 38.0962891,26.0917969 38.4597656,26.5347656 C38.4640625,26.5402344 38.4683594,26.5455078 38.4728516,26.5507812 C38.8261719,26.9820313 39.1742187,27.4171875 39.5185547,27.8552734 C39.5355469,27.8767578 39.5523437,27.8980469 39.5693359,27.9195313 C39.8958984,28.3359375 40.21875,28.7550781 40.5388672,29.1753906 C40.5699219,29.2158203 40.6011719,29.2564453 40.6322266,29.2972656 C40.9707031,29.7425781 41.3060547,30.1890625 41.6390625,30.6361328 C41.6414062,30.6394531 41.6435547,30.6423828 41.6460937,30.6455078 C42.2228516,28.9388672 42.5455078,27.115625 42.565625,25.21875 L41.9980469,25.1972656 L41.9095703,25.2255859" id="Shape" fill="#FFFFFF"></path>
                                    <path d="M22.3681641,17.1279297 C22.4138672,17.1244141 22.4595703,17.1216797 22.5050781,17.1185547 C22.8179687,17.0972656 23.1328125,17.0837891 23.4501953,17.0837891 C24.4009766,17.0837891 25.3298828,17.1855469 26.2333984,17.3708984 L26.2335937,17.3708984 C26.8712891,17.5210937 28.0033203,17.8322266 28.84375,18.1871094 C29.1962891,18.3359375 29.5429687,18.4990234 29.8826172,18.6751953 C29.8984375,18.6835938 29.9251953,18.6982422 29.9597656,18.7171875 C29.965625,18.7205078 29.9744141,18.7253906 29.9806641,18.7289062 C30.0121094,18.7464844 30.0464844,18.7654297 30.0867188,18.7882812 C30.0875,18.7888672 30.0884766,18.7892578 30.0894531,18.7898437 C30.1367188,18.8166016 30.1882812,18.8458984 30.2423828,18.8763672 C30.246875,18.8789062 30.2513672,18.8816406 30.2560547,18.8841797 C30.4720703,19.0066406 30.7111328,19.1439453 30.8025391,19.1962891 C30.8142578,19.2029297 30.8197266,19.2060547 30.8259766,19.2097656 C30.8306641,19.2125 30.8408203,19.2181641 30.8425781,19.2193359 C30.8238281,19.1810547 30.8023437,19.1447266 30.7832031,19.1068359 C30.7794922,19.0994141 30.7755859,19.0919922 30.771875,19.084375 C30.0144531,17.5896484 28.8484375,16.3076172 27.4175781,15.4324219 C26.0226562,14.5791016 24.3949219,14.1074219 22.7580078,14.1074219 C18.6916016,14.1074219 15.2550781,16.8464844 14.1318359,20.6089844 C15.1953125,19.7009766 16.3783203,18.9351562 17.6515625,18.3537109 C19.1363281,17.6759766 20.7398437,17.2515625 22.3681641,17.1279297" id="Shape" fill="#000000"></path>
                                    <path d="M41.6455078,19.4365234 L41.6453125,19.4363281 L41.6455078,19.4365234 C41.6414062,19.4308594 41.6371094,19.4257813 41.6330078,19.4203125 L41.6333984,19.4205078 C41.4255859,19.1320313 41.2113281,18.86875 40.9914062,18.6298828 C40.9910156,18.6291016 40.9902344,18.628125 40.9896484,18.6275391 C40.9902344,18.628125 40.9910156,18.6291016 40.9914062,18.6298828 C40.9896484,18.6277344 40.9876953,18.6251953 40.9857422,18.6230469 C40.8857422,18.5148438 40.7851562,18.4115234 40.6828125,18.3134766 C40.6443359,18.2765625 40.6044922,18.2443359 40.565625,18.2089844 C40.5013672,18.1505859 40.4375,18.0902344 40.3722656,18.0367188 L40.3722656,20.3626953 L41.2626953,24.4404297 L41.2626953,24.4402344 C41.2724609,24.471875 41.2841797,24.5015625 41.2927734,24.534375 L41.9095703,25.2255859 L41.915625,25.21875 L42.5611328,25.21875 C42.5619141,25.1589844 42.565625,25.1 42.565625,25.0400391 L42.565625,25.0390625 C42.5654297,23.1158203 42.2494141,21.2677734 41.6769531,19.5363281 L41.6769531,19.5365234 C41.6662109,19.5035156 41.6566406,19.4695313 41.6455078,19.4365234" id="Shape" fill="#BBBCBD"></path>
                                    <path d="M35.3589844,18.3652344 C36.0736328,17.6662109 37.0292969,17.1001953 38.0542969,17.1001953 C38.8654297,17.1001953 39.6445312,17.4287109 40.3720703,18.0296875 C40.3720703,18.0296875 40.3722656,18.0349609 40.3722656,18.0367187 L40.3722656,18.0378906 L40.3722656,18.0367187 C40.4375,18.0902344 40.5013672,18.1505859 40.565625,18.2089844 C40.6044922,18.2443359 40.6443359,18.2765625 40.6828125,18.3134766 C40.7851562,18.4115234 40.8857422,18.5148437 40.9857422,18.6230469 C40.9876953,18.6251953 40.9896484,18.6277344 40.9914062,18.6298828 C40.9910156,18.6291016 40.9902344,18.628125 40.9896484,18.6275391 L40.9894531,18.6273437 L40.9814453,18.6027344 C40.2027344,16.3261719 38.9462891,14.8470703 37.5283203,14.8470703 C35.6464844,14.8470703 34.0509766,17.4525391 33.4779297,21.0691406 L33.4839844,21.0640625 C33.9726562,20.0927734 34.5769531,19.1302734 35.3589844,18.3652344" id="Shape" fill="#000000"></path>
                                    <path d="M32.8162109,40.5929688 C32.8162109,40.5929688 32.5628906,40.3921875 32.2412109,40.0220703 C32.1658203,39.9353516 32.0880859,39.8425781 32.0072266,39.7369141 C31.9464844,39.6578125 31.8849609,39.5732422 31.8234375,39.4835938 C31.7824219,39.4238281 31.7417969,39.3617188 31.7013672,39.2976563 C31.5796875,39.1052734 31.4826172,38.8710938 31.3755859,38.6396484 C31.2517578,38.3716797 31.2513672,38.1933594 31.1802734,37.94375 C31.1294922,37.7652344 31.0873047,37.5787109 31.0558594,37.3845703 C31.0087891,37.0935547 30.9863281,36.7853516 30.9966797,36.4611328 C31.0021484,36.2828125 31.0205078,36.0982422 31.0472656,35.9103516 C31.0730469,35.7296875 31.1085938,35.5447266 31.1560547,35.3558594 C31.2978516,34.7888672 31.5429688,34.1849609 31.9253906,33.5474609 C31.9263672,33.5457031 32.0216797,33.3308594 32.0226562,33.3291016 C32.1476562,33.1208984 32.1753906,33.1300781 32.2941406,32.9294922 C33.9667969,30.1066406 34.8691406,27.9720703 34.4277344,24.6853516 C34.3960937,24.4507813 34.3099609,23.9251953 34.2628906,23.6783203 C34.2378906,23.8490234 34.1435547,24.3929688 34.1408203,24.4046875 C34.1242187,24.4796875 34.0787109,24.5611328 34.0615234,24.6121094 C33.3349609,26.7625 32.1912109,28.3443359 30.5455078,30.1304688 C30.3224609,30.3724609 30.0888672,30.6179688 29.8498047,30.8658203 C29.4474609,31.2828125 29.0255859,31.7087891 28.5792969,32.1529297 C28.4011719,32.3300781 28.2195312,32.5097656 28.0347656,32.6929688 C27.8650391,32.8609375 27.6539062,33.2201172 27.4019531,33.4847656 C27.2464844,33.9201172 27.0697266,34.4111328 26.9203125,34.9275391 C26.8529297,34.9019531 26.7886719,34.8791016 26.7201172,34.8525391 C23.5232422,33.6160156 21.3828125,31.9638672 21.3828125,31.9638672 C21.3828125,31.9638672 23.0296875,34.1082031 25.8042969,36.1210938 C26.0728516,36.3160156 26.3376953,36.4847656 26.5970703,36.634375 C26.4826172,38.4460938 27.2818359,40.1853516 30.8894531,40.7041016 C31.4994141,40.7917969 32.1240234,40.7876953 32.753125,40.7167969 C32.746875,40.6980469 32.7882812,40.6984375 32.7849609,40.6880859 C32.7814453,40.6775391 32.8185547,40.6498047 32.8185547,40.6498047" id="Shape" fill="#000000"></path>
                                    <path d="M30.8865234,35.9294922 C34.0892578,36.4462891 38.8292969,36.3615234 43.75,34.0576172 C43.8685547,34.0021484 43.9992187,34.1482422 44.1177734,34.0900391 C44.1177734,34.0900391 40.7546875,37.525 36.7382812,39.4669922 C36.6208984,39.5236328 36.5050781,39.5839844 36.3865234,39.6378906 C35.9984375,39.8152344 35.6037109,39.9697266 35.2074219,40.1123047 C34.4302734,40.3916016 33.6427734,40.6035156 32.8609375,40.7013672 C32.825,40.7060547 32.7890625,40.7128906 32.753125,40.7167969 C32.746875,40.6980469 32.7417969,40.6828125 32.7384766,40.6724609 C32.7349609,40.6619141 32.7332031,40.65625 32.7332031,40.65625 C32.7332031,40.65625 32.4796875,40.4552734 32.1580078,40.0851563 C32.0826172,39.9984375 32.0048828,39.9056641 31.9242187,39.8 C31.8634766,39.7208984 31.8019531,39.6363281 31.7404297,39.5466797 C31.6994141,39.4869141 31.6585937,39.4248047 31.6181641,39.3607422 C31.4966797,39.1683594 31.3785156,38.9556641 31.2714844,38.7244141 C31.1646484,38.4931641 31.0689453,38.2429688 30.9927734,37.975 C30.9417969,37.7964844 30.8996094,37.6099609 30.8681641,37.4158203 C30.8210937,37.1246094 30.7988281,36.8166016 30.8089844,36.4923828 C30.8144531,36.3138672 30.8328125,36.1294922 30.8595703,35.9416016 L30.8865234,35.9294922" id="Shape" fill="#9F2254"></path>
                                    <path d="M28.5910156,32.2832031 C29.0375,31.8390625 29.459375,31.4130859 29.8617188,30.9960937 C30.1005859,30.7482422 30.334375,30.5027344 30.5574219,30.2607422 C32.2029297,28.4746094 33.4109375,26.803125 34.1376953,24.6527344 C34.1546875,24.6017578 34.171875,24.5345703 34.1884766,24.4589844 C34.1912109,24.4472656 34.19375,24.4361328 34.1962891,24.4240234 C34.2132813,24.34375 34.2298828,24.2544922 34.2464844,24.1539062 C34.253125,24.0845703 34.4705078,23.9447266 34.4765625,23.8796875 C34.2943359,22.9433594 33.8744141,21.9589844 33.4160156,21.2074219 C33.4171875,21.2105469 33.4181641,21.2134766 33.4191406,21.2166016 C33.4173828,21.2150391 33.4115234,21.2091797 33.4103516,21.2080078 C33.3501953,21.1511719 33.2875,21.0980469 33.2265625,21.0421875 C33.0416016,20.8712891 32.8533203,20.7050781 32.6617188,20.5433594 C32.0869141,20.0585937 31.4826172,19.6162109 30.8490234,19.2259766 C30.8810547,19.7521484 30.9015625,20.2777344 30.9070313,20.8027344 C30.9078125,20.8617187 30.90625,20.9205078 30.90625,20.9792969 C30.9072266,21.1830078 30.9078125,21.3869141 30.9039063,21.590625 C30.8988281,21.8529297 30.8896484,22.1154297 30.8761719,22.3775391 C30.8662109,22.5712891 30.8539063,22.7646484 30.8388672,22.9582031 C30.8373047,22.9783203 30.8349609,22.9984375 30.8335938,23.0185547 C30.7748047,23.7517578 30.6820313,24.4818359 30.5490234,25.2023437 L30.3177734,26.2958984 C29.8347656,28.2541016 28.8537109,30.0302734 28.0470703,31.8642578 C27.8332031,32.3505859 27.6302734,32.8423828 27.4523438,33.3433594 C27.4361328,33.3892578 27.41875,33.4375 27.4019531,33.4847656 C27.6539063,33.2201172 27.8769531,32.9912109 28.0464844,32.8232422 C28.2314453,32.6402344 28.4130859,32.4603516 28.5910156,32.2832031" id="Shape" fill="#FCB03F"></path>
                                    <path d="M18.0074219,42.8150391 C19.1810547,42.2958984 20.2671875,41.9699219 21.5582031,41.7154297 C21.5507813,41.4351562 21.5380859,41.1556641 21.5144531,40.8779297 C22.0673828,39.4435547 22.5777344,38 23.0394531,36.5482422 C22.2162109,36.628125 21.3990234,36.7550781 20.5914063,36.9265625 C19.9923828,37.0537109 19.4013672,37.2134766 18.8152344,37.3900391 C18.3443359,37.5318359 17.8796875,37.6947266 17.41875,37.8679687 L19.2412109,38.309375 L17.7748047,42.9121094 L18.0074219,42.8150391" id="Shape" fill="#525353"></path>
                                    <path d="M40.5388672,29.1753906 C40.21875,28.7550781 39.8958984,28.3359375 39.5693359,27.9195313 C39.5525391,27.8980469 39.5353516,27.8767578 39.5185547,27.8552734 C39.1742187,27.4171875 38.8261719,26.9820313 38.4728516,26.5507813 C38.4683594,26.5455078 38.4640625,26.5402344 38.4597656,26.5347656 C38.0962891,26.0917969 37.7279297,25.653125 37.3529297,25.2203125 C37.3292969,25.1927734 37.3056641,25.1648438 37.2816406,25.1375 C37.0525391,24.8736328 36.8195312,24.6132813 36.5853516,24.3541016 C36.5042969,24.2644531 36.4228516,24.1748047 36.3410156,24.0857422 C36.146875,23.8738281 35.9507812,23.6640625 35.7529297,23.4560547 C35.5988281,23.2945313 35.4427734,23.1353516 35.2863281,22.9763672 C35.1390625,22.8261719 34.9921875,22.6753906 34.8425781,22.5277344 C34.5210937,22.2111328 34.1957031,21.8984375 33.8628906,21.5939453 C33.715625,21.459375 33.5666016,21.3269531 33.4160156,21.1964844 C33.4152344,21.1978516 33.4144531,21.1996094 33.4138672,21.2011719 C33.7306641,22.1117188 34.0921875,23.0335938 34.2732422,23.9832031 C34.3203125,24.2302734 34.3591797,24.4705078 34.3908203,24.7052734 C34.8322266,27.9917969 33.7791016,30.1376953 32.1066406,32.9605469 C31.9865234,33.1628906 31.8636719,33.36875 31.7376953,33.5785156 C31.3552734,34.2164063 31.1103516,34.8201172 30.9683594,35.3871094 C30.9210937,35.5759766 30.8853516,35.7609375 30.8595703,35.9416016 C34.1394531,36.4708984 39.0714844,36.5695313 44.1177734,34.0900391 C44.1177734,34.0900391 43.128125,32.6355469 41.6390625,30.6361328 C41.3060547,30.1890625 40.9707031,29.7425781 40.6322266,29.2972656 C40.6013672,29.2564453 40.5699219,29.2158203 40.5388672,29.1753906" id="Shape" fill="#DF0067"></path>
                                    <path d="M17.6005859,43.7347656 L19.2412109,38.309375 L17.41875,37.8679687 C17.0105469,38.0212891 16.6060547,38.1847656 16.2068359,38.3625 L14.5820312,43.7347656 L16.3958984,43.7630859 L17.6005859,43.7347656" id="Shape" fill="#AA9678"></path>
                                    <path d="M18.7539062,41.3875 C18.9140625,41.4490234 19.0769531,41.5044922 19.2394531,41.5613281 C21.0529297,42.1970703 23.0009766,42.5470703 25.0320312,42.5470703 C27.3478516,42.5470703 29.5566406,42.0935547 31.5804687,41.2779297 C31.6875,41.2349609 31.7923828,41.1876953 31.8982422,41.1425781 C32.0701172,41.0693359 32.2408203,40.9941406 32.4097656,40.9158203 C32.5609375,40.8455078 32.7121094,40.7757813 32.8609375,40.7013672 C32.825,40.7060547 32.7890625,40.7128906 32.753125,40.7167969 C32.1240234,40.7876953 31.4994141,40.7917969 30.8894531,40.7041016 C27.2818359,40.1853516 26.4826172,38.4460938 26.5970703,36.634375 C26.3376953,36.4847656 26.0728516,36.3160156 25.8042969,36.1210938 C23.0296875,34.1082031 21.3828125,31.9638672 21.3828125,31.9638672 C21.3828125,31.9638672 23.5232422,33.6160156 26.7201172,34.8525391 C26.7886719,34.8791016 26.8529297,34.9019531 26.9203125,34.9275391 C27.0697266,34.4111328 27.2464844,33.9201172 27.4019531,33.4847656 C27.41875,33.4375 27.4361328,33.3892578 27.4523437,33.3433594 C27.6302734,32.8423828 27.8332031,32.3505859 28.0470703,31.8642578 C28.8537109,30.0302734 29.8347656,28.2541016 30.3177734,26.2958984 L30.5490234,25.2023438 L28.5759766,25.2023438 L28.5757812,25.2025391 C28.5757812,25.2037109 28.5759766,25.2050781 28.5759766,25.2064453 L28.5751953,25.2068359 C28.5751953,25.2121094 28.5759766,25.2173828 28.5759766,25.2230469 C28.5759766,25.5482422 28.5099609,25.8580078 28.3908203,26.1398438 C28.33125,26.2808594 28.2582031,26.4146484 28.1736328,26.5400391 C28.0042969,26.7904297 27.7880859,27.0068359 27.5373047,27.1761719 C27.4121094,27.2609375 27.278125,27.3337891 27.1373047,27.3931641 C26.8554687,27.5125 26.5457031,27.5785156 26.2205078,27.5785156 C26.1378906,27.5785156 26.05625,27.5740234 25.9759766,27.565625 C25.9570312,27.5636719 25.9388672,27.5595703 25.9201172,27.5572266 C25.8583984,27.5492188 25.7970703,27.5408203 25.7375,27.5285156 C25.7207031,27.5248047 25.7046875,27.5195313 25.6880859,27.515625 C25.6267578,27.5015625 25.5654297,27.4863281 25.5060547,27.4673828 C25.4951172,27.4636719 25.4845703,27.4591797 25.4736328,27.4554688 C25.409375,27.4337891 25.3455078,27.4105469 25.2837891,27.3835938 C25.278125,27.38125 25.2728516,27.3783203 25.2673828,27.3757813 C25.2007812,27.3460938 25.1353516,27.3140625 25.0720703,27.2785156 L25.0691406,27.2767578 C24.8664062,27.1623047 24.6820313,27.0191406 24.521875,26.8521484 L17.7625,25.2023438 L10.3855469,25.2023438 C10.3539062,25.2585938 10.31875,25.3125 10.2876953,25.3689453 C10.2314453,25.4710938 10.1783203,25.5748047 10.1240234,25.6777344 C9.99042969,25.93125 9.86152344,26.1871094 9.73964844,26.4464844 C9.69667969,26.5376953 9.65390625,26.6291016 9.61230469,26.7210938 C9.46367187,27.0515625 9.32207031,27.3851563 9.19277344,27.7232422 C9.18691406,27.7382813 9.18066406,27.753125 9.17480469,27.7681641 C9.02773437,28.1556641 8.89316406,28.5478516 8.77207031,28.9431641 C8.61679688,29.4503906 8.48339844,29.9630859 8.37207031,30.4789063 C9.53339844,34.0210938 11.7929688,37.0648438 14.7466797,39.2101563 C14.8326172,39.2724609 14.9232422,39.3279297 15.0103516,39.3888672 C15.5099609,39.7380859 16.0261719,40.0648438 16.5617188,40.3613281 C17.2648437,40.7509766 17.9957031,41.0964844 18.7539062,41.3875" id="Shape" fill="#FFFFFF"></path>
                                    <path d="M36.4414062,45.5808594 C36.3960938,45.1148438 36.3679688,44.6449219 36.3679688,44.1699219 C36.3679688,43.884375 36.1365234,43.6525391 35.8507812,43.6525391 L14.1492188,43.6525391 C13.8634766,43.6525391 13.6318359,43.884375 13.6318359,44.1699219 C13.6318359,44.6449219 13.6039062,45.1148438 13.5583984,45.5808594 C13.5080078,46.0962891 13.4285156,46.6048828 13.3242188,47.1058594 C13.6388672,47.2722656 13.9560547,47.4341797 14.2787109,47.5876953 C14.4908203,46.6556641 14.6216797,45.6980469 14.6560547,44.7208984 C14.6566406,44.7097656 14.6578125,44.6984375 14.6582031,44.6873047 L35.3417969,44.6873047 C35.3421875,44.6984375 35.3433594,44.7097656 35.34375,44.7208984 C35.3783203,45.6980469 35.5091797,46.6556641 35.7212891,47.5876953 C36.0439453,47.4341797 36.3611328,47.2722656 36.6757812,47.1058594 C36.5714844,46.6048828 36.4919922,46.0962891 36.4414062,45.5808594" id="Shape" fill="#8B7460"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>

            <span class="cms__name">PrestaShop</span>
        </div>

        <div class="cms">
            <div class="cms__logo">
                <?xml version="1.0" encoding="UTF-8" standalone="no"?>
                <svg width="50px" height="50px" viewBox="0 0 50 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: sketchtool 40.2 (33826) - http://www.bohemiancoding.com/sketch -->
                    <title>180C4DB9-1400-4334-BD56-881D412BF636</title>
                    <desc>Created with sketchtool.</desc>
                    <defs></defs>
                    <g id="Landing-v2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="Landing" transform="translate(-792.000000, -2261.000000)" fill="#464342">
                            <g id="wordpress-icon" transform="translate(792.000000, 2261.000000)">
                                <g id="Group">
                                    <path d="M3.5398374,24.9024391 C3.5398374,33.3585365 8.45406504,40.6662602 15.5800813,44.1292684 L5.3894309,16.2081301 C4.20406504,18.8650406 3.5398374,21.8052846 3.5398374,24.9024391 L3.5398374,24.9024391 L3.5398374,24.9024391 Z M39.3252033,23.8243902 C39.3252033,21.1841463 38.3768293,19.3556911 37.5634146,17.9325203 C36.4804879,16.1727642 35.4654471,14.6825203 35.4654471,12.9227642 C35.4654471,10.9589431 36.9548781,9.13089432 39.0528455,9.13089432 C39.1475609,9.13089432 39.2373984,9.14268293 39.3296748,9.14796748 C35.5288617,5.66585365 30.4650406,3.5398374 24.903252,3.5398374 C17.4398374,3.5398374 10.8735772,7.36910568 7.05365854,13.1691057 C7.55487805,13.1841463 8.02723578,13.1947154 8.42845529,13.1947154 C10.6630081,13.1947154 14.1219512,12.9235772 14.1219512,12.9235772 C15.2735772,12.8556911 15.4093496,14.5471545 14.2589431,14.6833333 C14.2589431,14.6833333 13.101626,14.8195122 11.8138211,14.8869919 L19.5934959,38.0272357 L24.2686992,24.005691 L20.9402439,14.8861789 C19.7898373,14.8186992 18.7,14.6825203 18.7,14.6825203 C17.5487805,14.6150406 17.6837398,12.854878 18.8349594,12.9227642 C18.8349594,12.9227642 22.3630082,13.1939024 24.4621951,13.1939024 C26.6963414,13.1939024 30.155691,12.9227642 30.155691,12.9227642 C31.3081301,12.854878 31.4434959,14.5463415 30.292683,14.6825203 C30.292683,14.6825203 29.1329268,14.8186992 27.8475609,14.8861789 L35.5678861,37.8512195 L37.6987805,30.7304879 C38.6223578,27.7756098 39.3252033,25.653252 39.3252033,23.8243902 L39.3252033,23.8243902 L39.3252033,23.8243902 Z M25.2780488,26.7711383 L18.8682927,45.396748 C20.7821139,45.9593496 22.8060977,46.2670732 24.903252,46.2670732 C27.3910568,46.2670732 29.7768293,45.8369918 31.9975609,45.0560977 C31.9402439,44.9646342 31.8882113,44.8674797 31.8455285,44.7617887 L25.2780488,26.7711383 L25.2780488,26.7711383 L25.2780488,26.7711383 Z M43.6487805,14.6528455 C43.7406504,15.3333333 43.792683,16.0638211 43.792683,16.8495935 C43.792683,19.0174797 43.3878049,21.4544715 42.1682928,24.501626 L35.642683,43.3686992 C41.9939023,39.6650406 46.2658537,32.7841463 46.2658537,24.9028455 C46.2662602,21.188618 45.3174797,17.695935 43.6487805,14.6528455 L43.6487805,14.6528455 L43.6487805,14.6528455 Z M24.903252,0 C11.1719512,0 0,11.1711382 0,24.9024391 C0,38.6353658 11.1719512,49.8060977 24.903252,49.8060977 C38.6341463,49.8060977 49.8077236,38.6353658 49.8077236,24.9024391 C49.807317,11.1711382 38.6341463,0 24.903252,0 L24.903252,0 L24.903252,0 Z M24.903252,48.6646342 C11.801626,48.6646342 1.14186992,38.0048781 1.14186992,24.9024391 C1.14186992,11.800813 11.8012195,1.14186992 24.903252,1.14186992 C38.0044715,1.14186992 48.6634146,11.800813 48.6634146,24.9024391 C48.6634146,38.0048781 38.0044715,48.6646342 24.903252,48.6646342 L24.903252,48.6646342 L24.903252,48.6646342 Z" id="Shape"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>

            <span class="cms__name">WordPress</span>
        </div>

        <div class="cms">
            <div class="cms__logo">
                <?xml version="1.0" encoding="UTF-8" standalone="no"?>
                <svg width="51px" height="51px" viewBox="0 0 51 51" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: sketchtool 40.2 (33826) - http://www.bohemiancoding.com/sketch -->
                    <title>5092B97F-47A2-4E75-94A6-671EB4DB58EF</title>
                    <desc>Created with sketchtool.</desc>
                    <defs>
                        <linearGradient x1="50%" y1="79.1043536%" x2="50%" y2="0%" id="linearGradient-1">
                            <stop stop-color="#04B6F0" offset="0%"></stop>
                            <stop stop-color="#3ECAF0" offset="100%"></stop>
                        </linearGradient>
                    </defs>
                    <g id="Landing-v2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="Landing" transform="translate(-887.000000, -2260.000000)">
                            <g id="opencart" transform="translate(887.000000, 2260.000000)">
                                <g id="Group-9">
                                    <ellipse id="Oval" fill="url(#linearGradient-1)" cx="25.2399004" cy="25.5" rx="25.2399004" ry="25.5"></ellipse>
                                    <path d="M43,19.6113853 C42.9884096,18.3250669 40.5774234,17.7412692 34.3361843,17.7412692 C19.6914645,17.7412692 15.9761868,17.1246181 12,13 C13.672523,15.4766041 14.5876771,20.1217646 30.0666861,19.8906593 C46.2165638,19.6453877 36.3642875,23.9958334 33.4976687,28.9109871 C38.6670364,24.3622848 42.9844731,21.3640723 43,19.6300934 L43,19.6113846 L43,19.6113853 L43,19.6113853 Z M22.4211483,32.8203328 C22.4211483,34.023358 21.4307645,35 20.2099016,35 C18.9845305,35 17.9938649,34.023358 17.9938649,32.8203328 C17.9938649,31.6123078 18.9845305,30.635388 20.2099016,30.635388 C21.4307645,30.635388 22.4211483,31.6123078 22.4211483,32.8203328 L22.4211483,32.8203328 Z M32.5061578,32.8203328 C32.5061578,34.023358 31.515774,35 30.2949111,35 C29.070667,35 28.0791562,34.023358 28.0791562,32.8203328 C28.0791562,31.6123078 29.070667,30.635388 30.2949111,30.635388 C31.515774,30.635388 32.5061578,31.6123078 32.5061578,32.8203328 L32.5061578,32.8203328 Z" id="Shape" fill="#FFFFFF"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>

            <span class="cms__name">OpenCart</span>
        </div>

        <div class="cms">
            <div class="cms__logo">
                <?xml version="1.0" encoding="UTF-8" standalone="no"?>
                <svg width="48px" height="55px" viewBox="0 0 48 55" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: sketchtool 40.2 (33826) - http://www.bohemiancoding.com/sketch -->
                    <title>A1CDC100-6B8D-4B85-A5AC-2FA44B5E71D2</title>
                    <desc>Created with sketchtool.</desc>
                    <defs></defs>
                    <g id="Landing-v2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="Landing" transform="translate(-983.000000, -2256.000000)">
                            <g id="shopify" transform="translate(983.000000, 2256.000000)">
                                <g id="Group">
                                    <path d="M41.9575549,10.8003816 C41.9199248,10.5252182 41.6801419,10.3731312 41.4819272,10.356428 C41.2841499,10.3397247 37.0975751,10.0280781 37.0975751,10.0280781 C37.0975751,10.0280781 34.1899883,7.12831341 33.8710069,6.807436 C33.5515881,6.4865586 32.9280649,6.58414049 32.6860943,6.65578846 C32.6502143,6.66633785 32.0507571,6.85227093 31.0588082,7.16040114 C30.0874249,4.35294368 28.373502,1.77273774 25.3578379,1.77273774 C25.2747015,1.77273774 25.1889396,1.7762542 25.1031778,1.78108935 C24.2455601,0.641754799 23.1831641,0.146812399 22.2656006,0.146812399 C15.241011,0.146812399 11.8849251,8.96830352 10.8325931,13.4513564 C8.10309326,14.3010222 6.16382694,14.904975 5.91616793,14.9832163 C4.39258371,15.4632137 4.34445208,15.5115651 4.14448712,16.9537552 C3.9935289,18.0456175 0.00691891892,49.0168798 0.00691891892,49.0168798 L31.0714974,54.8638814 L47.903559,51.2058791 C47.903559,51.2058791 41.9947476,11.075545 41.9575549,10.8003816 L41.9575549,10.8003816 L41.9575549,10.8003816 Z M29.3418225,7.69402465 C28.5616528,7.93666071 27.6747186,8.21226363 26.7133989,8.51116313 C26.7142742,8.32523005 26.7151493,8.14193434 26.7151493,7.94193541 C26.7151493,6.19688982 26.4740537,4.79206221 26.0872506,3.67822202 C27.6410263,3.87426493 28.6758561,5.65007957 29.3418225,7.69402465 L29.3418225,7.69402465 L29.3418225,7.69402465 Z M24.1597984,4.02415422 C24.5916701,5.11162093 24.8725838,6.67205211 24.8725838,8.77797487 C24.8725838,8.88566661 24.8717085,8.98412762 24.8708334,9.08390731 C23.1612863,9.61577258 21.3038436,10.1933519 19.4420254,10.7726894 C20.4873564,6.71996395 22.4467506,4.76261182 24.1597984,4.02415422 L24.1597984,4.02415422 L24.1597984,4.02415422 Z M22.0726367,2.0395495 C22.3758658,2.0395495 22.6812827,2.14284564 22.9735729,2.34504236 C20.7223262,3.40921248 18.3091823,6.08963765 17.2901049,11.4421364 C15.8006504,11.9054306 14.3448879,12.3581754 12.9989531,12.7770743 C14.192617,8.69445884 17.0271313,2.0395495 22.0726367,2.0395495 L22.0726367,2.0395495 L22.0726367,2.0395495 Z" id="Shape" fill="#95BF46"></path>
                                    <path d="M41.4819272,10.356428 C41.2841499,10.3397247 37.0975751,10.0280781 37.0975751,10.0280781 C37.0975751,10.0280781 34.1899883,7.12831341 33.8710069,6.807436 C33.7515531,6.68787619 33.5905309,6.62677764 33.4220704,6.60040414 L31.0732478,54.863442 L47.903559,51.2058791 C47.903559,51.2058791 41.9947476,11.075545 41.9575549,10.8003816 C41.9199248,10.5252182 41.6801419,10.3731312 41.4819272,10.356428" id="Shape" fill="#5E8E3E"></path>
                                    <path d="M25.3578379,19.6992349 L23.2824904,25.9009599 C23.2824904,25.9009599 21.4639907,24.9260202 19.2350595,24.9260202 C15.9673607,24.9260202 15.8028382,26.9862288 15.8028382,27.5053469 C15.8028382,30.3378591 23.1529725,31.4231282 23.1529725,38.0578177 C23.1529725,43.2775699 19.85727,46.6388706 15.4134097,46.6388706 C10.0808649,46.6388706 7.35399039,43.3048226 7.35399039,43.3048226 L8.78174895,38.5659469 C8.78174895,38.5659469 11.5847589,40.9835163 13.9502087,40.9835163 C15.495671,40.9835163 16.1244448,39.7611054 16.1244448,38.8679233 C16.1244448,35.172998 10.0944292,35.0081638 10.0944292,28.9369876 C10.0944292,23.8271249 13.7454306,18.8820965 21.1152551,18.8820965 C23.9550202,18.8820965 25.3578379,19.6992349 25.3578379,19.6992349" id="Shape" fill="#FFFFFF"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>

            <span class="cms__name">Shopify</span>
        </div>
    </div>
</div>