.infographic-cms-integration-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 290px;
  background-color: $palette-infographic-blue;

  .header {
    margin-bottom: 15px;
    font-size: 24px;
    color: $palette-black;
  }

  .text {
    margin-bottom: 40px;
    line-height: 1.9;
    font-size: 16px;
    font-weight: 300;
    color: $palette-black;
  }

  .row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 640px;
  }

  .cms {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75px;
    cursor: pointer;

    &__logo {
      display: flex;
      align-items: center;
      height: 60px;
      margin-bottom: 5px;
    }

    &:hover {

      svg {
        -webkit-filter: none;
        -moz-filter: none;
        -ms-filter: none;
        filter: none;
      }

      .cms__name {
        color: $palette-black;
      }
    }

    &__name {
      font-size: 14px;
      color: $palette-light-gray;
    }
  }
}

//Desktop style rule for CMS logos
@media all and (min-width: 769px) {
  .infographic-cms-integration-component {

    .cms {

      &__logo {

        svg {
          filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
          -webkit-filter: grayscale(100%);
          -moz-filter: grayscale(100%);
          -ms-filter: grayscale(100%);
          filter: grayscale(100%);
          filter: gray; /* IE 6-9 */
        }
      }
    }
  }
}

@media all and (max-width: 950px) {
  .infographic-cms-integration-component {

    .cms {

      &__logo {
        height: 45px;

        svg {
          height: 45px;
        }
      }
    }
  }
}

//Tablet layout
@media all and (max-width: 768px) {
  .infographic-cms-integration-component {
    height: 160px;

    .header {
      margin-bottom: 10px;
      font-size: 14px;
    }

    .text {
      margin-bottom: 20px;
      font-size: 12px;
    }

    .row {
      max-width: 668px;
    }

    .cms {

      &__logo {
        height: 30px;
        margin-bottom: 5px;

        svg {
          max-height: 30px;
        }
      }

      &__name {
        font-size: 10px;
      }
    }
  }
}

//Phone layout
@media all and (max-width: 599px) {
  .infographic-cms-integration-component {
    height: auto;
    padding: 25px 15px 0 15px;

    .header {
      text-align: center;
      font-size: 14px;
    }

    .text {
      text-align: center;
    }

    .row {
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      padding: 0;
    }

    .cms {
      flex-grow: 1;
      flex-shrink: 0;
      max-width: 25%;
      margin-bottom: 25px;
    }
  }
}