<button class="nice-chat-button-component">
    <?xml version="1.0" encoding="UTF-8" standalone="no"?>
    <svg viewBox="0 0 33 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <!-- Generator: sketchtool 40.2 (33826) - http://www.bohemiancoding.com/sketch -->
        <title>CA351FC4-9C78-4157-B289-96388D2F6C07</title>
        <desc>Created with sketchtool.</desc>
        <defs></defs>
        <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Chat-Button" transform="translate(-18.000000, -18.000000)" fill="#FFFFFF">
                <g id="Group-10">
                    <g id="Group-2" transform="translate(18.000000, 16.000000)">
                        <path d="M19.896833,30.4324257 L27.1023501,28.9008457 C28.713604,28.5583631 30.2363532,26.9602189 30.4974846,25.3325705 L32.9523106,10.0314888 C33.2124165,8.41023271 32.1225937,7.36123349 30.5158325,7.70276112 L25.219657,8.82849797 L19.4782945,2.4520689 C18.9700447,1.88760023 18.1113246,1.84849161 17.5503089,2.3536325 C16.9853818,2.86229514 16.9428953,3.72184006 17.4466766,4.28134587 L22.1319056,9.4848198 L10.1165656,12.0387591 L12.2737465,5.39963922 C12.5084657,4.67724758 12.1129748,3.91401993 11.3950021,3.68073644 C10.6720237,3.44582655 9.90639279,3.83880469 9.67373719,4.554845 L7.02881419,12.695081 L1.68675004,13.8305718 C0.0724464741,14.1737026 -0.492484307,15.5682562 0.408095395,16.9489753 L8.87420116,29.9287413 C9.75864079,31.2847153 11.7560576,32.1267591 13.3588835,31.8213541 L11.3171081,37.9944121 L19.896833,30.4324257 Z M11.9142841,23.95039 C13.0219207,23.7149546 13.7276078,22.6197266 13.4904804,21.5041299 C13.253353,20.3885331 12.1632064,19.6750214 11.0555698,19.9104568 C9.94793327,20.1458922 9.24224618,21.2411202 9.47937359,22.3567169 C9.716501,23.4723137 10.8066476,24.1858254 11.9142841,23.95039 Z M18.5994621,22.5191995 C19.7070987,22.2837641 20.4127858,21.1885361 20.1756584,20.0729393 C19.938531,18.9573426 18.8483844,18.2438308 17.7407478,18.4792662 C16.6331113,18.7147017 15.9274242,19.8099296 16.1645516,20.9255264 C16.401679,22.0411232 17.4918256,22.7546349 18.5994621,22.5191995 Z M25.2846401,21.088009 C26.3922767,20.8525735 27.0979638,19.7573456 26.8608364,18.6417488 C26.6237089,17.526152 25.5335624,16.8126403 24.4259258,17.0480757 C23.3182892,17.2835111 22.6126021,18.3787391 22.8497296,19.4943359 C23.086857,20.6099326 24.1770036,21.3234444 25.2846401,21.088009 Z" id="Combined-Shape"></path>
                    </g>
                </g>
            </g>
        </g>
    </svg>
</button>