.nice-chat-button-component {
  position: fixed;
  left: 15px;
  bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: $palette-nc-btn-blue;
  overflow: hidden;

  transition: box-shadow 0.25s ease-out, color 0.25s ease-out;

  &:hover {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14),
    0 1px 10px 0 rgba(0, 0, 0, .12),
    0 2px 4px -1px rgba(0, 0, 0, .2);
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 140px;
    height: 140px;
    margin-left: -70px;
    margin-top: -70px;
    background: lighten($palette-nc-btn-blue, 30%);
    border-radius: 100%;
    opacity: .5;

    transform: scale(0);
  }

  &:active {
    box-shadow: none;
  }

  @keyframes ripple {
    0% {
      transform: scale(0);
    }
    20% {
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(1);
    }
  }

  &:not(:active):after {
    animation: ripple 1s ease-out;
  }

  &:after {
    visibility: hidden;
  }

  &:focus:after {
    visibility: visible;
  }

  svg {
    width: 33px;
    height: 36px;
  }
}

//Tablet layout
@media all and (max-width: 768px) {
  .nice-chat-button-component {
    width: 50px;
    height: 50px;

    &:after {
      width: 100px;
      height: 100px;
      margin-left: -50px;
      margin-top: -50px;
    }

    svg {
      width: 24px;
      height: 26px;
    }
  }
}