.infographic-features-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 425px;
  padding: 0 25px;
  background-color: $palette-infographic-blue-light;

  .header {
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 300;
    color: $palette-black;
  }

  .row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1140px;
  }

  .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;

    &:not(:last-of-type) {
      margin-right: 25px;
    }

    &__figure {
      margin-bottom: 25px;
    }

    &__title {
      margin-bottom: 15px;
      text-align: center;
      font-size: 24px;
      color: $palette-black;
    }

    &__text {
      text-align: center;
      color: $palette-black;
    }
  }
}

@media all and (max-width: 950px) {
  .infographic-features-component {

    .row {

      .feature {

        &__title {
          font-size: 20px;
        }

        &__text {
          font-size: 14px;
        }
      }
    }
  }
}

//Tablet layout
@media all and (max-width: 768px) {
  .infographic-features-component {
    height: 250px;

    .header {
      margin-bottom: 25px;
      font-size: 20px;
    }

    .row {
      max-width: 668px;

      .feature {

        &__figure {
          margin-bottom: 15px;

          svg {
            width: 50px;
            height: 50px;
          }
        }

        &__title {
          margin-bottom: 7px;
          font-size: 14px;
        }

        &__text {
          font-size: 12px;
          font-weight: 300;
        }
      }
    }
  }
}

//Phone layout
@media all and (max-width: 599px) {
  .infographic-features-component {
    height: auto;
    padding: 25px;

    .row {
      flex-direction: column;
      align-items: center;

      .feature {
        width: 100%;
        margin-bottom: 25px;
        margin-right: 0;

        &:last-of-type {
          margin-bottom: 0;
        }

        &__figure {

          svg {
            width: 53px;
            height: 53px;
          }
        }

        &__text {
          margin-bottom: 0;
        }
      }
    }
  }
}