<div class="infographic-features-component">
    <h3 class="header">Features</h3>

    <div class="row">
        <div class="feature">
            <div class="feature__figure">
                <?xml version="1.0" encoding="UTF-8" standalone="no"?>
                <svg width="100px" height="100px" viewBox="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: sketchtool 40.2 (33826) - http://www.bohemiancoding.com/sketch -->
                    <title>DB646B53-D4C7-448D-957F-87E4FFAF807E</title>
                    <desc>Created with sketchtool.</desc>
                    <defs></defs>
                    <g id="Landing-v2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="Landing" transform="translate(-250.000000, -1813.000000)">
                            <g id="browser" transform="translate(250.000000, 1813.000000)">
                                <g id="Layer_1">
                                    <circle id="Oval" fill="#56D4A7" cx="49.9301961" cy="49.9301961" r="49.9301961"></circle>
                                    <path d="M14.3607843,29.5856863 L14.3607843,78.5186275 C14.3607843,79.8482353 15.4245098,80.9121569 16.7543137,80.9121569 L83.172549,80.9121569 C84.5021569,80.9121569 85.5660784,79.8484314 85.5660784,78.5186275 L85.5660784,29.5856863 L14.3607843,29.5856863 L14.3607843,29.5856863 Z" id="Shape" fill="#FCFCFD"></path>
                                    <path d="M85.4996078,21.3415686 C85.4996078,20.0119608 84.4358824,18.9480392 83.1060784,18.9480392 L16.7541176,18.9480392 C15.4245098,18.9480392 14.3605882,20.0117647 14.3605882,21.3415686 L14.3605882,29.5192157 L85.4994118,29.5192157 L85.4994118,21.3415686 L85.4996078,21.3415686 Z" id="Shape" fill="#4F5565"></path>
                                    <circle id="Oval" fill="#F0582F" cx="21.4080392" cy="24.2670588" r="1.72862745"></circle>
                                    <circle id="Oval" fill="#FBD303" cx="27.1923529" cy="24.2670588" r="1.72862745"></circle>
                                    <circle id="Oval" fill="#71D456" cx="32.91" cy="24.2670588" r="1.72862745"></circle>
                                    <path d="M73.1998039,22.5384314 L41.5531373,22.5384314 C40.6223529,22.5384314 39.8245098,23.3362745 39.8245098,24.2670588 C39.8245098,25.1978431 40.6223529,25.9956863 41.5531373,25.9956863 L73.2664706,25.9956863 C74.1972549,25.9956863 74.995098,25.1978431 74.995098,24.2670588 C74.9284314,23.3362745 74.1305882,22.5384314 73.1998039,22.5384314 L73.1998039,22.5384314 Z" id="Shape" fill="#333842"></path>
                                    <rect id="Rectangle-path" fill="#DDDDDD" x="21.8735294" y="36.1678431" width="9.30784314" height="38.0294118"></rect>
                                    <rect id="Rectangle-path" fill="#DDDDDD" x="36.8077033" y="36.1678431" width="41.1789633" height="10.3715686"></rect>
                                    <rect id="Rectangle-path-Copy" fill="#DDDDDD" x="36.8077033" y="63.1678431" width="41.1789633" height="10.3715686"></rect>
                                    <rect id="Rectangle-path-Copy-2" fill="#FBD303" x="36.8077033" y="49.1678431" width="41.1789633" height="10.3715686"></rect>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
            <h4 class="feature__title">Screen Highlighting</h4>
            <p class="feature__text">You can see what the customer sees and highlight the needed area in his browser</p>
        </div>

        <div class="feature">
            <div class="feature__figure">
                <?xml version="1.0" encoding="UTF-8" standalone="no"?>
                <svg width="100px" height="100px" viewBox="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: sketchtool 40.2 (33826) - http://www.bohemiancoding.com/sketch -->
                    <title>203A5758-D98F-4BE9-A8B7-0759A8E08528</title>
                    <desc>Created with sketchtool.</desc>
                    <defs></defs>
                    <g id="Landing-v2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="Landing" transform="translate(-670.000000, -1813.000000)">
                            <g id="credit-card" transform="translate(670.000000, 1813.000000)">
                                <g id="Layer_1">
                                    <circle id="Oval" fill="#FB7803" cx="49.9301961" cy="49.9301961" r="49.9301961"></circle>
                                    <path d="M59.2380392,13.3635294 L17.7513725,13.3635294 C16.6211765,13.3635294 15.6903922,14.2943137 15.6903922,15.4245098 L15.6903922,84.3027451 C15.6903922,85.4329412 16.6211765,86.3637255 17.7513725,86.3637255 L59.2378431,86.3637255 C60.3680392,86.3637255 61.2988235,85.4329412 61.2988235,84.3027451 L61.2988235,15.4909804 C61.2990196,14.2943137 60.3682353,13.3635294 59.2380392,13.3635294 L59.2380392,13.3635294 Z" id="Shape" fill="#FFFFFF"></path>
                                    <rect id="Rectangle-path" fill="#6EB1E1" x="17.0866667" y="19.6129412" width="42.8827451" height="57.7088235"></rect>
                                    <g id="Group" transform="translate(34.901961, 16.274510)" fill="#DEDEDF">
                                        <path d="M6.5845098,0.0143137255 L0.66745098,0.0143137255 C0.401568627,0.0143137255 0.135490196,0.21372549 0.135490196,0.54627451 C0.135490196,0.812156863 0.334901961,1.07823529 0.66745098,1.07823529 L6.5845098,1.07823529 C6.85039216,1.07823529 7.11647059,0.878823529 7.11647059,0.54627451 C7.05,0.21372549 6.85058824,0.0143137255 6.5845098,0.0143137255 L6.5845098,0.0143137255 Z" id="Shape"></path>
                                        <circle id="Oval" cx="3.5927451" cy="65.5019608" r="3.05823529"></circle>
                                    </g>
                                    <path d="M90.6188235,31.3143137 L61.2990196,31.3143137 L61.2990196,62.4292157 L90.6188235,62.4292157 C92.347451,62.4292157 93.8101961,61.0329412 93.8101961,59.2378431 L93.8101961,34.5056863 C93.8101961,32.7105882 92.4139216,31.3143137 90.6188235,31.3143137 L90.6188235,31.3143137 Z" id="Shape" fill="#71D456"></path>
                                    <rect id="Rectangle-path" fill="#4F5565" x="61.2990196" y="36.7660784" width="32.5111765" height="10.1056863"></rect>
                                    <g id="Group" transform="translate(61.176471, 54.117647)" fill="#5BBA3C">
                                        <rect id="Rectangle-path" x="0.12254902" y="0.000980392157" width="16.2223529" height="2.46"></rect>
                                        <rect id="Rectangle-path" x="21.5972549" y="0.000980392157" width="4.38803922" height="2.46"></rect>
                                    </g>
                                    <rect id="Rectangle-path" fill="#FCFCFD" x="21.1421569" y="39" width="34.705098" height="33.8007843"></rect>
                                    <rect id="Rectangle-8" fill="#4990E2" x="24" y="42" width="21" height="5"></rect>
                                    <rect id="Rectangle-8-Copy" fill="#AAB0B6" x="32" y="49.9003922" width="21" height="5"></rect>
                                    <rect id="Rectangle-8-Copy-3" fill="#71D456" x="27" y="59.4292157" width="22.9301961" height="11"></rect>
                                    <text id="Buy" font-family="OpenSans-Bold, Open Sans" font-size="9" font-weight="bold" fill="#FFFFFF">
                                        <tspan x="30" y="68">Buy</tspan>
                                    </text>
                                    <g id="Group" transform="translate(20.980392, 24.117647)" fill="#5FA7D3">
                                        <rect id="Rectangle-path" x="0.161764706" y="0.0162745098" width="34.705098" height="3.19117647"></rect>
                                        <rect id="Rectangle-path" x="0.161764706" y="7.59568627" width="30.1176471" height="3.19117647"></rect>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
            <h4 class="feature__title">Quick offers and sells</h4>
            <p class="feature__text">You can offer a product to your customer, and sell this product in the chat</p>
        </div>

        <div class="feature">
            <div class="feature__figure">
                <?xml version="1.0" encoding="UTF-8" standalone="no"?>
                <svg width="100px" height="100px" viewBox="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: sketchtool 40.2 (33826) - http://www.bohemiancoding.com/sketch -->
                    <title>829F997D-039B-44BD-A889-3376758FB071</title>
                    <desc>Created with sketchtool.</desc>
                    <defs></defs>
                    <g id="Landing-v2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="Landing" transform="translate(-1090.000000, -1813.000000)">
                            <g id="shield" transform="translate(1090.000000, 1813.000000)">
                                <g id="Layer_1">
                                    <circle id="Oval" fill="#4990E2" cx="50" cy="50" r="50"></circle>
                                    <path d="M82.2287109,21.1365234 C63.1025391,21.9222656 50.0056641,12.4898438 50.0056641,12.4898438 C50.0056641,12.4898438 36.9085937,21.9222656 17.7824219,21.1365234 C17.7824219,21.1365234 12.0125,74.0605469 50.0056641,85.5882813 C87.9101562,74.0605469 82.2287109,21.1365234 82.2287109,21.1365234 L82.2287109,21.1365234 Z" id="Shape" fill="#D3D6D6"></path>
                                    <path d="M82.2287109,23.0578125 C63.1025391,23.84375 50.0056641,14.4115234 50.0056641,14.4115234 C50.0056641,14.4115234 36.9085937,23.84375 17.7824219,23.0578125 C17.7824219,23.0578125 12.0125,75.9818359 50.0056641,87.5099609 C87.9101562,75.9818359 82.2287109,23.0578125 82.2287109,23.0578125 L82.2287109,23.0578125 Z" id="Shape" fill="#ECF0F0"></path>
                                    <path d="M49.090625,81.7574219 C36.6980469,77.0679688 28.5119141,66.4511719 24.7603516,50.2019531 C23.0128906,42.6363281 22.6365234,35.3810547 22.6287109,30.6265625 L22.6248047,28.2492188 L24.9943359,28.0542969 C35.4666016,27.1912109 43.7201172,23.80625 48.8001953,21.1183594 L50.0052734,20.4806641 L51.2107422,21.1183594 C56.2880859,23.8052734 64.5384766,27.1892578 75.0066406,28.0533203 L77.3792969,28.2492188 L77.3714844,30.6298828 C77.3564453,35.3814453 76.9708984,42.6337891 75.21875,50.1978516 C71.4546875,66.4478516 63.2783203,77.0658203 50.9167969,81.7568359 L50.0041016,82.1033203 L49.090625,81.7574219 L49.090625,81.7574219 Z" id="Shape" fill="#D3D6D6"></path>
                                    <path d="M49.090625,81.7574219 C36.6980469,77.0679688 28.5119141,66.4511719 24.7603516,50.2019531 C23.0128906,42.6363281 22.6365234,35.3810547 22.6287109,30.6265625 L22.6248047,28.2492188 L24.9943359,28.0542969 C35.4666016,27.1912109 43.7201172,23.80625 48.8001953,21.1183594 L50.0052734,20.4806641 L51.2107422,21.1183594 C56.2880859,23.8052734 64.5384766,27.1892578 75.0066406,28.0533203 L77.3792969,28.2492188 L77.3714844,30.6298828 C77.3564453,35.3814453 76.9708984,42.6337891 75.21875,50.1978516 C71.4546875,66.4478516 63.2783203,77.0658203 50.9167969,81.7568359 L50.0041016,82.1033203 L49.090625,81.7574219 L49.090625,81.7574219 Z" id="Shape" fill="#D3D6D6"></path>
                                    <path d="M50.0056641,87.5099609 C55.0097656,85.9878906 59.2541016,83.74375 62.8519531,80.9958984 L17.6072266,35.7509766 C18.4648438,52.1669922 23.9207031,79.5951172 50.0056641,87.5099609 L50.0056641,87.5099609 Z" id="Shape" fill="#5D5D5D" opacity="0.3"></path>
                                    <path d="M50.0027344,79.3472656 C38.4617188,74.9800781 30.8197266,64.9927734 27.2708984,49.6224609 C25.6052734,42.4091797 25.2140625,35.4736328 25.2058594,30.6224609 C36.3351563,29.7056641 45.0568359,26.0148437 50.0052734,23.3962891 C54.9525391,26.0142578 63.6703125,29.7037109 74.7947266,30.6220703 C74.7792969,35.4712891 74.3787109,42.4050781 72.7083984,49.6162109 C69.1472656,64.9898437 61.5138672,74.9791016 50.0027344,79.3472656 L50.0027344,79.3472656 Z" id="Shape" fill="#D6B342"></path>
                                    <path d="M31.88125,52.9896484 L29.1638672,56.2269531 C33.2230469,67.884375 40.2082031,75.6408203 50.0027344,79.3472656 L50.0082031,75.6957031 L31.88125,52.9896484 L31.88125,52.9896484 Z" id="Shape" fill="#2A404D"></path>
                                    <path d="M41.5039063,42.6828125 L49.9,30.4914062 L50.0050781,23.3962891 C45.0566406,26.0148437 36.3349609,29.7056641 25.2056641,30.6224609 L29.8443359,36.3351562 L41.5039063,42.6828125 L41.5039063,42.6828125 Z" id="Shape" fill="#FFD54F"></path>
                                    <path d="M74.7763672,32.1261719 C74.7865234,31.6074219 74.8316406,31.1017578 74.8328125,30.6220703 C63.7107422,29.7039063 54.7724609,26.0158203 50.0849609,23.3980469 L50.0849609,35.7238281 L69.9859375,36.3341797 L74.7763672,32.1261719 L74.7763672,32.1261719 Z" id="Shape" fill="#406073"></path>
                                    <path d="M72.7083984,49.6162109 C74.3787109,42.4050781 74.7792969,35.4712891 74.7947266,30.6220703 L69.9478516,36.3341797 L63.9728516,48.0773438 L70.7882812,56.2898438 C71.5228516,54.1914062 72.1636719,51.9675781 72.7083984,49.6162109 L72.7083984,49.6162109 Z" id="Shape" fill="#2A404D"></path>
                                    <path d="M63.9726562,48.0773438 L50.0082031,75.6957031 C50.0082031,75.6957031 49.9830078,79.3402344 50.0027344,79.3472656 C59.7533203,75.6474609 66.7207031,67.9125 70.7880859,56.2896484 L63.9726562,48.0773438 L63.9726562,48.0773438 Z" id="Shape" fill="#D6B342"></path>
                                    <path d="M50.0849609,30.5476563 C50.0849609,30.5291016 49.9736328,30.5099609 49.9384766,30.4914063 C45.9365234,32.6085938 38.8640625,35.5933594 29.8636719,36.3351563 C29.8701172,40.2580078 30.1771484,46.0324219 31.5246094,51.8658203 C31.6246094,52.3011719 31.7205078,52.5392578 31.8294922,53.3205078 L50.0851562,53.3205078 L50.0851562,30.5476563 L50.0849609,30.5476563 L50.0849609,30.5476563 Z" id="Shape" fill="#EFC84A"></path>
                                    <path d="M67.9433594,53.3203125 C68.0527344,52.5390625 68.1591797,52.2980469 68.2603516,51.8605469 C69.6111328,46.0289063 69.9736328,40.3384766 69.9857422,36.4166016 C61.0685547,35.6810547 54.1863281,32.6609375 50.0847656,30.5474609 L50.0847656,53.3203125 L67.9433594,53.3203125 L67.9433594,53.3203125 Z" id="Shape" fill="#375363"></path>
                                    <path d="M31.8292969,53.3203125 C34.8222656,64.84375 40.9300781,72.4972656 49.9365234,75.9044922 C49.9734375,75.8908203 50.0849609,75.7097656 50.0849609,75.6955078 L50.0849609,53.3203125 L31.8292969,53.3203125 L31.8292969,53.3203125 Z" id="Shape" fill="#375363"></path>
                                    <path d="M67.9433594,53.3203125 L50.0849609,53.3203125 L50.0849609,75.6957031 C59.0693359,72.2666016 64.9541016,64.84375 67.9433594,53.3203125 L67.9433594,53.3203125 Z" id="Shape" fill="#EFC84A"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
            <h4 class="feature__title">End-to-end encryption</h4>
            <p class="feature__text">Your conversation and payment data protected by end-to-end encryption</p>
        </div>
    </div>
</div>