<div class="modal-component modal-component--thanks-for-registration" id="modal-component--thanks-for-registration" data-reveal>
    <div class="wrapper">
        <h3 class="header">Thank you for registration</h3>

        <p class="text">Your email has been registered.<br />
            Check your inbox</p>

        <button class="close-btn close-btn--btn" data-close aria-label="Close modal" type="button">Close</button>

        <button class="close-btn close-btn--cross" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>