.is-reveal-open {

  .reveal-overlay {
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .modal-component {
      @include reveal-modal-base;

      position: relative;
      top: auto !important;
      width: auto;
      max-width: 100%;
      height: auto;
      max-height: 100%;
      margin: 0;
      padding: 0;
      overflow: auto;
      outline: none;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 4px 8px 0 rgba(0, 0, 0, 0.15);

      .wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

        .header {
          margin-bottom: 30px;
          text-align: center;
          font-size: 26px;
          font-weight: 300;
          //color: $palette-light-gray;
        }

        .text {
          margin-bottom: 25px;
          text-align: center;
          line-height: 1.7;
          font-size: 18px;
        }
      }

      .close-btn {

        &--btn {
          @include button($background: $palette-blue);

          width: 115px;
          height: 35px;
          margin-bottom: 0;
          padding: 0;
        }

        &--cross {
          position: absolute;
          right: 15px;
          top: 15px;
          line-height: 0.5;
          font-size: 35px;
          color: $palette-light-gray;

          &:hover {
            color: $palette-blue;
          }
        }
      }

      &--thanks-for-registration {
        //styles for this particular modal

        width: 100%;
        max-width: 500px;

        .wrapper {
          padding: 30px;

          .header {
            padding: 0 10px;
          }
        }
      }
    }
  }
}