<div class="video-register-component">
    <img class="bg-image"
         src="assets/img/register-screen.png"
         srcset="assets/img/register-screen@2x.png 2x, assets/img/register-screen@3x.png 3x"
         alt="">
    <div class="video-wrapper">
        <video class="video" width="100%" autoplay loop>
            <source src="assets/video/register.mp4" type="video/mp4">
            <source src="assets/video/register.ogv" type="video/ogg">
        </video>
    </div>

    <div class="info">
        <h2 class="info__title">Register now</h2>

        <form class="get-started">
            <input type="email" id="get-started__email-input" class="get-started__email-input" placeholder="Enter your email" required/>
            <button class="get-started__btn" data-open="modal-component--thanks-for-registration" type="submit">Get started</button>
        </form>

        <div class="logo">
            <?xml version="1.0" encoding="UTF-8" standalone="no"?>
            <svg viewBox="0 0 150 126" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: sketchtool 40.2 (33826) - http://www.bohemiancoding.com/sketch -->
                <title>F600B254-A90D-42D5-B47B-C3E3DC63DB94</title>
                <desc>Created with sketchtool.</desc>
                <defs></defs>
                <g id="Landing-v2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.902168843">
                    <g id="Landing" transform="translate(-645.000000, -3724.000000)" fill="#FFFFFF">
                        <g id="Group-21" transform="translate(645.000000, 3724.000000)">
                            <g id="Group">
                                <path d="M71.0687049,59.5038291 L86.1571458,56.2966819 C89.5445693,55.5766629 92.7317584,52.2276924 93.2878843,48.8140065 L98.4749897,16.9738261 C99.0314889,13.5578486 96.7405189,11.3755091 93.3587988,12.0943159 L82.1873047,14.4688903 L70.2377273,1.19753998 C69.1853672,0.028775678 67.3649883,-0.0729339739 66.1872396,0.987515659 C65.0118875,2.04580749 64.9134483,3.86132494 65.9727222,5.0377678 L75.7051431,15.8467163 L50.5223676,21.1994804 L55.0169811,7.36648245 C55.5029807,5.87072972 54.6808744,4.24338053 53.1736237,3.75364511 C51.66944,3.2649062 50.0479362,4.08741406 49.5587437,5.59299361 L44.040206,22.5773064 L32.8687119,24.9518808 C29.4860937,25.6708785 28.2829971,28.5981171 30.1795146,31.4904775 L47.8687393,58.4681438 C49.7493608,61.3362616 53.9671911,63.0905189 57.3344621,62.4224786 L53.110712,75.2864938 L71.0687049,59.5038291 Z M54.2862956,46.0023973 C56.6115732,45.5081443 58.0959119,43.2224632 57.6016589,40.8971856 C57.1074059,38.571908 54.8217247,37.0875693 52.4964471,37.5818223 C50.1711696,38.0760753 48.6868309,40.3617565 49.1810839,42.687034 C49.6753369,45.0123116 51.961018,46.4966503 54.2862956,46.0023973 Z M68.3205873,43.0193165 C70.6458648,42.5250635 72.1302035,40.2393824 71.6359505,37.9141048 C71.1416975,35.5888272 68.8560164,34.1044885 66.5307388,34.5987415 C64.2054612,35.0929945 62.7211225,37.3786757 63.2153755,39.7039533 C63.7096285,42.0292308 65.9953097,43.5135695 68.3205873,43.0193165 Z M82.3548789,40.0362358 C84.6801565,39.5419827 86.1644952,37.2563016 85.6702422,34.931024 C85.1759892,32.6057464 82.890308,31.1214077 80.5650305,31.6156608 C78.2397529,32.1099138 76.7554142,34.3955949 77.2496672,36.7208725 C77.7439202,39.0461501 80.0296014,40.5304888 82.3548789,40.0362358 Z" id="Combined-Shape"></path>
                                <path d="M8.42950326,125.398286 L0,125.398286 L0,85.3843224 L8.42950326,85.3843224 L8.42950326,92.6801016 C9.78425163,90.2230915 11.6532746,88.2926125 14.0366282,86.8886068 C16.4199818,85.484601 18.9914563,84.7826087 21.751129,84.7826087 C26.2669568,84.7826087 29.9171963,86.1615222 32.7019568,88.9193907 C35.4867174,91.6772591 36.8790768,95.6635728 36.8790768,100.878451 L36.8790768,125.398286 L28.4495735,125.398286 L28.4495735,103.435735 C28.4495735,96.0647045 25.3888916,92.3792447 19.267436,92.3792447 C16.3572358,92.3792447 13.8233926,93.3444842 11.6658304,95.2749921 C9.50826819,97.2055 8.42950326,100.026005 8.42950326,103.736592 L8.42950326,125.398286 Z M57.0496739,125.398286 L48.6201706,125.398286 L48.6201706,85.3843224 L57.0496739,85.3843224 L57.0496739,125.398286 Z M72.6292022,120.321327 C68.615133,116.535525 66.6081284,111.583972 66.6081284,105.466519 C66.6081284,99.3490649 68.7029394,94.3724406 72.8926242,90.5364964 C77.082309,86.7005521 82.1876267,84.7826087 88.2087306,84.7826087 C94.2298344,84.7826087 99.3226084,86.8635146 103.487205,91.0253888 L98.5198194,97.1177404 C95.0576846,94.1091566 91.5705143,92.6048873 88.0582037,92.6048873 C84.5458931,92.6048873 81.497755,93.7706961 78.9136979,96.1023485 C76.3296409,98.4340009 75.0376317,101.442539 75.0376317,105.128055 C75.0376317,108.81357 76.3170971,111.934929 78.8760662,114.492225 C81.4350354,117.049521 84.5835237,118.32815 88.3216257,118.32815 C92.0597277,118.32815 95.5845294,116.623311 98.8961365,113.213583 L103.863522,118.629007 C98.9964634,123.543027 93.3768507,126 87.0045158,126 C81.4349947,126 76.6432715,124.107128 72.6292022,120.321327 Z M144.430507,89.3330689 C148.043169,92.3667241 149.874561,96.3154311 149.924737,101.179308 L150,101.329737 L120.797792,113.589654 C123.406937,116.79881 126.956827,118.403364 131.447566,118.403364 C135.938306,118.403364 139.638721,116.648383 142.548921,113.138369 L147.516307,118.629007 C142.7496,123.543027 137.129987,126 130.657301,126 C124.987428,126 120.120442,124.119663 116.056197,120.358934 C111.991952,116.598204 109.95986,111.634115 109.95986,105.466519 C109.95986,101.204358 111.013537,97.4562206 113.120923,94.221993 C115.22831,90.9877655 117.837415,88.6060057 120.948319,87.0766423 C124.059223,85.5472789 127.345693,84.7826087 130.807827,84.7826087 C136.276997,84.7826087 140.817844,86.2994136 144.430507,89.3330689 Z M118.163573,107.046017 L140.366282,97.4938115 C138.660303,94.1843694 135.624708,92.5296731 131.259408,92.5296731 C127.947801,92.5296731 124.92475,93.6829463 122.190166,95.9895271 C119.455581,98.296108 118.088309,101.505216 118.088309,105.616947 C118.088309,106.268807 118.113397,106.745159 118.163573,107.046017 Z" id="nice"></path>
                                <text id="chat" font-family="MontserratAlternates-Regular, Montserrat Alternates" font-size="20.6086957" font-weight="normal">
                                    <tspan x="102.756652" y="75.5652174">chat</tspan>
                                </text>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
        </div>

        <h1 class="motto">Chat that sells</h1>
    </div>
</div>