.video-register-component {
  position: relative;
  height: auto;
  max-height: 820px;

  .bg-image {
    width: 100%;
    height: auto;
    min-height: 260px;
    max-height: 800px;
    object-fit: cover;
    z-index: -1;
  }

  .video-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    max-height: 820px;
    overflow: hidden;

    .video {
      display: block;
      min-width: 100%;
      height: 100%;
      max-height: 820px;
      object-fit: cover;
    }
  }

  .info {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    z-index: 1;

    &__title {
      margin-bottom: 5%;
      text-align: center;
      font-size: 48px;
      font-weight: 300;
      color: $palette-white;
    }

    .get-started {
      display: flex;
      justify-content: center;
      align-items: center;
      width: auto;
      margin-bottom: 5%;

      &__email-input {
        flex-shrink: 0;
        width: 350px;
        height: 50px;
        margin-right: 10px;
        padding: 0 20px;
        border: 1px solid $palette-white;
        font-size: 18px;
        background-color: rgba(255, 255, 255, .8);

        &::placeholder {
          color: $palette-light-gray;
        }
      }

      &__btn {
        @include button;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        flex-basis: 200px;
        height: 50px;
        border: 1px solid $palette-white;
        font-size: 18px;
        color: $palette-white;
        background-color: rgba(255, 255, 255, .2);

        &:hover,
        &:focus {
          background-color: rgba(255, 255, 255, .5);
        }
      }
    }

    .logo {
      margin-bottom: 2%;

      svg {
        width: 150px;
        height: 126px;
      }
    }

    .motto {
      font-size: 42px;
      font-weight: 300;
      color: $palette-white;
    }
  }
}

@media all and (max-width: 950px) {
  .video-register-component {

    .info {

      .get-started {

        &__email-input {
          height: 45px;
          font-size: 16px;
        }

        &__btn {
          height: 45px;
          font-size: 16px;
        }
      }

      .logo {

        svg {
          height: 90px;
        }
      }

      .motto {
        font-size: 36px;
      }
    }
  }
}

//Tablet layout
@media all and (max-width: 768px) {
  .video-register-component {
    display: flex;
    align-items: center;

    .video-wrapper {
      display: none;

      .video {
        display: none;
      }
    }

    .info {

      &__title {
        font-size: 24px;
        font-weight: normal;
      }

      .get-started {

        &__email-input {
          max-width: 190px;
          height: 32px;
          font-size: 12px;

          &::placeholder {
            font-size: 12px;
          }
        }

        &__btn {
          max-width: 100px;
          height: 32px;
          font-size: 12px;
        }
      }

      .logo {

        svg {
          width: 80px;
          height: 67px;
        }
      }

      .motto {
        font-size: 22px;
        font-weight: normal;
      }
    }
  }
}

//Phone layout
@media all and (max-width: 599px) {
  .video-register-component {
    min-height: 210px;

    .info {
      left: 0;
      right: 0;
      width: calc(100% - 50px);
      margin: 25px;
      padding: 0;

      &__title {
        margin-bottom: 12px;
        font-size: 24px;
      }

      .get-started {
        width: 100%;
        margin-bottom: 15px;

        &__email-input {
          flex-grow: 2;
          width: auto;
          max-width: 190px;
          height: 27px;
          padding: 0 10px;
        }

        &__btn {
          width: auto;
          max-width: 100px;
          height: 27px;
          padding: 0;
        }
      }

      .logo {

        svg {
          width: 53px;
          height: 45px;
        }
      }

      .motto {
        font-size: 16px;
      }
    }
  }
}